.move.clearfix li.col-lg-3 {
  width: 175px;
  position:relative;
  padding:0px;
}

.publics.clearfix{
	clear:both;
	bottom:0px !important;
}
.publicpo .topclasimages{
	clear:both;
}
.Megan {
	position:absolute;
	left:0px;
}
.mg .Megan { width:147px;}
.ly .Megan { width:147px;}
.da .Megan { width:146px;}
.pa .Megan { width:147px;}
.map .Megan { width:147px;}
.ya .Megan { width:147px;}
.tom .Megan { width:145px;}
.fl .Megan { width:147px;}

.publicsd.clearfix{
	clear:both;
}
.publicpo .col-lg-8{
	padding:0px;
	float:left;
}
.members .col-lg-4{
	float:left;
	padding:0px;
}
.newsletter .col-lg-4{
	float:left;
	padding:0px;
}
.sitestats .col-lg-4{
	float:left;
	padding:0px;
}
.line .col-lg-8{
	float:left;
	padding:0px;
}
.quotes .col-lg-4{
	float:left;
	padding:0px;
}
.download .col-lg-4{
	float:left;
  padding: 10px 20px;
}
.boonex .col-lg-8{
	float:left;
	padding:0px;
}
.forward.clearfix .col-lg-3{
	padding:0px;
	float:left;
	margin:0px;
	width: 213px;
}
.forward.clearfix{
	clear:both;
}
.mainout.clearfix{
	clear:both;
}
.out{
margin-top:-55px;
}
.loadmore {
 clear:both; 
}
.memb {
  height:100%;
}
.sitesta.sitesta.clearfix{
  height:100%;
}
.banner.clearfix{
	width:1349px!important;
}
.publicpo {
	margin-bottom:10px;
	}
.memb .col-lg-4 {
  padding: 10px 20px;
  width: 90%;
}
.subs2 {
	margin-top:20px;}
	.out .col-lg-3 {
  margin-top: 30px !important;
  padding: 12px !important;
  padding-right:0px !important;
  width: 213px !important;
}
.gallery {
  margin-right: 20px !important;
}
.video {
  margin-right: 20px !important;
}
.forward {
  margin-top: 10px;
  padding-top: 0 !important;
  margin-left:-1px !important;
  padding-left:15px !important;
  padding-right:15px !important;
}
.download .col-lg-4 {
	padding:0px !important; 
	}	
	
.latestandtop.clearfix {
	margin-right:20px !important;}
	
.out {
	margin-right:20px !important;}
.boon {
	margin-right:20px !important;}		
.sites1.col-lg-6 > ul {padding:0px !important;} 	
.boon > ul { clear:both;}
.publics.clearfix { clear:both; height:56px; }
.mainout.clearfix { clear:both; height:56px; }
.boonexout.clearfix { clear:both; height:56px; }
.membe1.clearfix { clear:both; height:52px; }
.subs2 > h3 { width:110px; }
.boon > ul {
  margin-left:0px !important;
} 
div#syssearch .mainone1 { background:#fff !important; display:block !important;}
.memb {
  padding-bottom: 10px;
   margin-bottom: 10px;
}
.statusre > h3 { width:100px;} 
.quotes2 > h3 { width:70px; }
.downloads2 > h3 { width:100px; }

.memb { width:360px; margin-left:20px;}
.latestandtop.clearfix { width:760px; margin-left:35px; margin-bottom:30px;}
.move.clearfix {padding-left:0px; margin-left:35px;}
.subs  { width:360px; margin-left:20px; margin-top:20px; }
.out  { width:760px; margin-left:35px;}
.boon  { width:760px; margin-left:35px; margin-top:0px; padding-bottom:10px; margin-bottom:10px; }
.sitesta.sitesta.clearfix { width:360px; margin-left:20px;}
.quote { width:360px; margin-left:20px;}
.downloads { width:360px; margin-left:20px;}
.sites2.col-lg-6 > ul { padding-left:0px;}
.sites1.col-lg-6 > ul { width: 120px;}
.quote > span {margin-top:10px; {margin-right:65px;}
.quote { padding-bottom:25px;}
.subs > p{ margin-top:20px;}
.col-xs-3.col-lg-3.video > p { line-height: 2.3;  }