	

.navbar-nav > li > a {padding: 7px;}

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }



  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }



  .navbar-form .form-group {
    margin-bottom: 5px;
  }



  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }


  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }


  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }


  .hidden-xs {
    display: none !important;
  }



.menuheader_expert .menu ul li { background:none;}	
.menuheader_expert .search_for_all_courses {margin: 10px 0 17px;}	
.more_one_portiion { width: 188px;}	
.footer_content_blocks ul li {float: left; margin: 0 0 40px;position: relative;width: auto;}
.service_img, .why_img {float: none;height: auto;margin: 0 auto 30px;text-align: center;}
.service_head, .img_head {margin-right:0px;}	
.service_title, .img_title, .footer-widget .widgettitle {text-align: center;float: none;}
.service_sub, .img_sub {text-align: center;float: none;}
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}	
.HomeScroll .office_text.new_office {left: 30px; top: 15px;}	
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}
.HomeScroll .all_stafs {float: left;width:40%;}
.copy_rights_section p { margin-bottom:10px;margin-top: 0;}		
.col-lg-6.copy_rights_section {float: left;padding-left: 15px;padding-right: 15px;width: 100%;}
.col-lg-6.social_icons {clear: both;float: left;padding-left: 15px;padding-right: 15px;width: 100%;}
.social_media_icons { float: left;margin: 0;}	
.menuheader_expert .menu ul li.bell a .liko { background:url("../images/bell.png") no-repeat scroll -1px 10px;}	
.menuheader_expert .left_section_first { float: left;width: 55%;}	
.menuheader_expert .menurap {float: right;}	
.imack .dump_text_added { margin-top: 40px;width: auto;}	
.watch_listen_practice_section .mac {background: url("../images/lap2.png") no-repeat;height:206px;padding:0;width:306px;}		
.menuheader_expert .menu .navbar-nav {margin: 40px 0 0 -5px;}		
.menuheader_expert .bell .dropdown-menu {left: 10px;width: 365px;}	
.menuheader_expert .dropdown-menu {left: 10px;}
#DetailDetailes .course_next { float:none;}		
.resp-tab-content select.category_option{ height: 30px;}
.category_option {margin-top: 0;}
.category_option {width: 150px;}	
.category_rightoption .category_option {width: 150px;}
.category_option {float: left; padding: 0;}
.category_option { float: left;padding: 0;height: auto;}
.banner img { height: auto;}	
.mac iframe {width: 265px; height: 155px;margin: 21px 60px;}
.menuheader_expert .left_section_first .many_search {width: 167px;}
.watch_listen_practice_section .mac { display: table; margin: 0 auto; }	
.menuheader_expert .menu { float:none}	
.business_trend .treaty_trick {float: left; width: 40%;}
.business_trend .treaty_trick .cart_business p {min-height:75px;margin: 0;}
.treaty_trick .office_text.new_office {top: 33px;}	
.leak_coursing { margin: 40px 0; }
.bus_try:hover .mni_hove {height:auto;}
.treaty_trick .bus_try .mni_hove img {width: 100%;}
.user_bg {float: left; margin: 0; width: 30%;}
.newest_coursing_one li { float: none;}
.newest_coursing_one ul li:nth-child(2) {margin-left: 0;}
.newest_coursing_one ul li:nth-child(3) {margin-left: 0;}
.profile_getup { float: left; margin: 42px 20px;width: 50%; }
.newest_coursing_one .newest_offeringh_one h3 {font-size: 18px;}	
.newest_coursing_one h3 {font-size: 12px;}
.newest_coursing_one #latestc .office_text p {font-size: 10px;}
.newest_coursing_one #latestc p {font-size: 16px;}	
.newest_coursing_one p {font-size: 11px;}	
.business_office img { height:auto;}	
#owl-demo .item { padding:26px 0px;}	
.item img {height: 60px;width: 100%;}	
.owl-item { width: 97px !important;}
.demo_slides_one .owl-carousel .owl-wrapper-outer {margin: 0 auto;width: 292px;}
.course_secondto_learn h4 {text-align: center;}	
.course_secondto_learn p { text-align: center;}	
.mac img { display: table; margin: 20px auto; width: 400px;}		
.connect_all_people { display: table; margin: 0 auto;}	
.newest_coursing_one .connect_all_people .all_stafs {width: auto; float: none;margin-right: 0;}
.easier_course { top:60px;}	
.easier_course p { display: none;}
.seach_alone_courses { display: none;}
.easier_course h2 {display:none;}
.easier_course span {display:none;}
.menu {float: none;}	
.menu .navbar-collapse {width:200px}
.logo {display: table;float: none; margin: 0 auto;}
.menu ul li { background:none;}
.authorized_section {display: table;float: none;margin: 40px auto;}
.section .course_learn { margin: 0 0 15px;padding: 13px 20px;width: auto; float: none;}
.section .experts_learn {margin: 0 0 15px;padding: 13px 20px; width: auto; float: none;}
.section .communicate_learn {padding: 13px 20px;width: auto; float: none;}
.course_secondto_learn {padding: 10px 20px 10px 0;}
.description .des_color {font-size: 22px;}
.menuheader_expert .bell .dropdown-menu {left: 10px; width: 160px;}	
.menuheader_expert .menu ul li a {font-size: 12px;}
.success_img {background:url("../images/successmobile.png") no-repeat scroll 0 0 ; height: 220px;margin: 45px auto; width: 420px;}
.footer.clsClearfix {min-height: 105px;}