@charset "utf-8";
/* CSS Document */

form, table, p, h1, h2, h3, h4, h5, h6, ul, li, div, dl {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
a {
    color: #000000;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
.clsFloatLeft {
    float: left;
}
.clsFloatRight {
    float: right;
}
.clear {
    clear: both;
    height: 0;
}
.clsClearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clsClearfix {
    display:block;
}
html[xmlns] .clsClearfix {
    display: block;
}
* html .clsClearfix {
    height: 1%;
}
.clearfix.latest_coursess {
  margin: 10px 0;
}
.footer .jobs a {
  color: #a3a3a3;
}
.discover.span3 ul li
{
	background: url("../images/dis_arrow.png") no-repeat scroll left center;	
	line-height: 30px;
    padding: 0 10px;
}
.course_menus {
  margin-top: 20px;
}
.discover.span3 a {
  font-family: open sans;
  font-size: 13px;
}
.start_now.span3 input
{
	 background: none repeat scroll 0 0 #70afdb;
    border: 1px solid #5594c1;
    bottom: 2px;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    position: absolute;
    right: 20px;	
}

.dropdown-menu.menu_wd a {
  
  font-weight:  normal;
	color: #333333 !important;  
}