/*layout temp style*/
body { background:#f5f5f5; }

/*view style*/
.course_view_page { margin:30px 0 30px; }
.course_view_header  { margin:0 0 25px; }
.course_view_header h1 { margin:0 0 12px; padding:0; font-family: 'Open Sans', sans-serif; font-size:28px; color:#000; font-weight:600; text-transform:capitalize; } 
.course_view_header p { font-family: 'Open Sans', sans-serif; word-wrap: break-word; font-size:15px; color:#444444; font-weight:400; margin:0 0 12px; }
.course_view_page .star_rating li { float:left; margin-right:10px; font:600 13px 'Open Sans', sans-serif; color:#000;}
.course_view_video, .course_view_curriculam { margin:0 0 25px; }
.banner_watch { margin:0; box-shadow:0 0 5px -2px #aaa; -moz-box-shadow: 0 0 5px -2px #aaa; -webkit-box-shadow: 0 0 5px -2px #aaa; border:10px solid #fff; }
.over_view { float:none; }
.course_view_overview ul li { word-wrap: break-word; }
.course_view_overview, .course_view_author { border-bottom:1px solid #dedede; padding:0 0 20px; margin:0 0 20px; }
.course_view_overview h2, .course_view_author h2, .course_view_curriculam h2, .course_view_feedback h2 { color:#2f3945; font:600 24px 'Open Sans', sans-serif; margin:0 0 15px; padding:0; text-transform:capitalize; }
.course_view_overview p { font:13px 'Open Sans', sans-serif; word-wrap: break-word; line-height:20px; margin:0 0 20px; color:#333;  }
.course_view_author_inner { position:relative; min-height:80px;  }
.course_view_author_img { position:absolute; left:0; top:0; width:80px; height:80px;  }
.course_view_author_img img { width:80px; border-radius:0 0 0 0; }
.course_view_author_bio { margin-left:95px; font:13px 'Open Sans', sans-serif; line-height:20px; color:#333;  }
.course_view_author_bio p { margin:15px 0 0; }
.course_view_author_bio p:first-child { margin:0; }
.course_view_goal, .course_view_audience { margin:20px 0 0; }

/*curriculam*/
.section_one_inroduction:first-child { margin:0; }
.section_one_inroduction h4 { border-bottom:3px solid #efefef; font:600 15px 'Open Sans', sans-serif; color:#333333; padding:10px 0; text-transform:capitalize; margin:0; } 
.section_one_inroduction h4 label { text-transform:uppercase; font-weight:600; font-size:15px; }
.section_one_inroduction .section_introduction_lasting li { margin:0; padding:15px 60px 14px 10px; position:relative; }
.course_view_lecture_list { border-bottom:1px solid #efefef; }
.course_view_lecture_list h6 {  font:600 14px 'Open Sans', sans-serif; color:#333333; margin:0 15px 0 0; text-transform:capitalize;}
.course_view_lecture_list .course_lecture_title h6, .course_view_lecture_list .course_lecture_title a { float:left }
.course_curriculum span { font-size:16px; }
.course_lecture_title { padding-left:25px; }
.course_media_0 { background:url(../images/video.png) no-repeat scroll left center;  }
.course_media_3 { background:url(../images/text.png) no-repeat scroll left center;  }
.course_media_5 { background:url(../images/presentation.png) no-repeat scroll left center;  }
.course_media_2 { background:url(../images/pdf.png) no-repeat scroll left center;  }
.course_media_1 { background:url(../images/audio.png) no-repeat scroll left center;  }
.course_lecture_curriculam_list_desc { background:#f9f9f9; padding:10px; font:400 12px 'Open Sans', sans-serif; margin:5px 0 0; line-height:20px; }
.course_lecture_curriculam_list_desc p:first-child { margin:0; }
.course_lecture_curriculam_list_desc p { margin:10px 0 0; }
.course_view_lecture_details { font:600 14px 'Open Sans', sans-serif; color:#333333; position:absolute; top:14px; right:15px; text-transform:capitalize;  }

/*review*/
.course_view_feedback h2 { border-bottom:4px solid #efefef; padding:0 0 10px; margin:0 0 25px; }
.course_view_feedback_lists ul { margin:0; padding:0; }
.course_view_feedback_lists ul li { margin:0 0 20px; padding:0 0 20px; border-bottom:1px solid #efefef; min-height:105px; position:relative;}
.course_view_feedback_lists ul li .course_view_feedback_author_img { width:85px; height:85px; position:absolute; left:0; top:0; }
.course_view_feedback_lists ul li .course_view_feedback_content { margin-left:100px; font:13px 'Open Sans', sans-serif; line-height:22px; }
.course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_author_name { margin:0 0 10px; }
.course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_author_name a { font-weight:700; text-transform:capitalize; color:#000; font-size:14px; }
.course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_rating { width:87px; height:15px; position:absolute; right:115px; top:2px; }
.course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_date { position:absolute; right:15px; top:0; font-size:14px; line-height:normal; }

/*sidebar*/
.course_view_sidebar .select_price { margin:0; }
.course_view_feedback_btn {text-align:center;  text-transform:uppercase;} 
.course_view_feedback_lists a.btn.seereviews, .course_view_feedback_btn .btn-primary, .course_view_sidebar .btn-primary { border-radius:5px; background:#e59859; border:0 none; font:600 16px 'Open Sans', sans-serif;  color:#fff; padding:12px 15px; }
.course_view_feedback_btn .btn-primary:hover { background:#158d8e }

.wish_list_section { padding:20px 10px; }
.wish_list_section .sidebarli { padding:0 0 20px 15px; margin:0 0 20px; border-bottom:1px solid #efefef; }
.wish_list_section .sidebarli.last { padding-bottom:0; margin:0; border-bottom:0 none; }
.wish_list_section .sidebarli li:first-child { margin:0;} 
.wish_list_section .sidebarli li { font:14px 'Open Sans', sans-serif; color:#636363; margin:20px 0 0px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;  }
.wish_list_section .sidebarli li a {color:#636363;}
.wish_list_section .sidebarli li a:hover { color:#158d8e; }
.wish_list_section .sidebarli li i { padding:0; color:#158d8e; text-align:center; width:20px; margin:0 15px 0 0;}

/*sidebar boxes*/
.course_view_sidebar_box  { border:1px solid #e1e1e1; background:#fff; padding:5px; margin:20px 0 0;} 
 .course_view_sidebar_box_header { background:#158d8e; padding:10px 20px; }
.course_view_sidebar_box_header h3 {  font-size:18px; color:#fff; font-family: 'Roboto', sans-serif; margin:0; padding:0; text-transform:capitalize; }
.course_view_sidebar_students_more { border-top:1px solid #e1e1e1; margin:0 10px; }
.course_view_sidebar_students_more a{ font:400 13px 'Open Sans', sans-serif; color:#777777; margin:8px 0 5px; display:block; }
.course_view_sidebar_students_more a:hover { text-decoration:underline; }
.attend_one_stud { padding:0; margin:20px 15px 0;}
.attend_one_stud li { float:left; width:60px; height:60px; margin:0 0 20px 20px; padding:0; }
.attend_one_stud li:first-child, .attend_one_stud li:nth-child(3n+1) { margin-left:0; }
.attend_one_stud li a img { border-radius:0; width:60px; height:60px; }
.recent_viewed_course_main { padding:20px 10px 20px;  }
.recent_viewed_course { position:relative; min-height:75px; margin:0 0 20px; padding:0 0 20px; border-bottom:1px solid #e1e1e1;} 
.recent_viewed_course:last-child { margin:0; padding:0; border-bottom:0 none; }
.recent_viewed_course_img { position:absolute; left:0px; top:0px; }
.recent_viewed_course_img img { width:75px; border-radius:0px; }
.recent_viewed_course_content { margin-left:90px; }
.recent_viewed_course_content h6 a{ font:700 13px 'Open Sans', sans-serif; color:#333333; text-transform: uppercase; margin:0 0 7px;}
.recent_viewed_course_rating { margin:0 0 7px; }
.recent_viewed_course_pricing .easy_teruns{ padding:1px 6px; background:#eda100; color:#fff;  font:400 13px 'Open Sans', sans-serif; text-transform: uppercase; border-radius: 5px;   }
.recent_viewed_course_desc { font:400 13px 'Open Sans', sans-serif; text-transform:capitalize; color:#fff;  }
.morecourse_heading { text-align:center; padding:10px 0px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; margin:0 10px 15px;} 
.morecourse_heading h3 { font:700 13px 'Open Sans', sans-serif; color:#333333; text-transform: capitalize; margin:0px; }
.morecourse_heading i { color:#158d8e; margin-left:15px; }

@media (min-width: 1200px) {
}

@media (min-width: 993px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 767px) {
	.course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_rating, .course_view_feedback_lists ul li .course_view_feedback_content .course_view_feedback_date { position:static; }
}

@media (max-width: 480px) {
}