.usercomments .user_name { color: #444; font-size: 14px; font-weight: bold; text-transform: capitalize; } .details.user-block span { text-align: right; }
.usercomments.sec2 .user_name, .usercomments.sec2 .time { line-height: normal; margin-left: 5px; } .usercomments.sec2 p { clear: both; }
.usercomments.sec2 .col-sm-10.col-xs-12 { padding-right: 0; }
.btn_group button { font-size: 14px; padding: 4px 12px; }
.btn_group { margin-right: 10px; margin-top: 10px; }
.usercomments .time { color: #1ab394; font-size: 13px; }
.details span { display: block; line-height: 19px !important; }
.usercomments p { color: #888888; font-size: 13px; font-weight: 400; margin-top: 2px; text-align: left;} .usercomments.sec2 p { text-align: right; } .usercomments.sec2 { background:#fafafa; }
.usercomments .row { margin: 0; } .usercomments { padding: 12px 0; }
.usercomments.sec2 .col-sm-2, .usercomments.sec2 .col-sm-10  { float: right; }
.usercomments .container, .usercomments.sec2 .container { width: 100%; } .user-block { float: right; }
.alignBtn{margin: 5px auto 0; display: table;}
.modalTexts{text-align: center;} .spinloader, .modal-footer .btn.btn-default, .modal-footer .btn.btn-primary { float: right; } .spinloader h2 { font-size: 18px; line-height: 34px; margin: 0; }
.modal-footer .btn.btn-default { margin-left: 5px; }
@media(min-width:1200px){ .usercomments .col-sm-2, .usercomments.sec2 .col-sm-2 { width: 9%; } }
@media(min-width:980px) and (max-width:1199px) { .usercomments .col-sm-2 { width: 11%; } }
/*@media(min-width:768px) and max-width(979px){ .usercomments .col-sm-2 { width: 11%; } }*/
@media(max-width:767px){ .usercomments { text-align: center; } .usercomments.sec2 .user_name, .usercomments.sec2 .time { float: none; } .usercomments p, .usercomments.sec2 p { text-align: center;} .user-block { float: none; } .details.user-block span { text-align: center; } }