.test_vid video {
  border: 3px solid #444;
  border-radius: 3px;
  height: auto;
  width: 100%;
}
.contenthead video {display: block;margin: 0 auto;}
.sxim-init input[type="text"] {direction: rtl;}
/*
 *
 *   BSEtec  - PHP WEB GENERATOR
 *   Copyright 2014 bsetec.com
 *
 

*/
.payment-block #tabs > li:first-child {
  float: right;
}
.payment-block #tabs > li:last-child {
  float: right;
}
 body {
  font-family: Tahoma, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  background: #2f4050;
 
  color: #676a6c; overflow-x:hidden
}
a { color:#1ab394;}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,h4,h5 {
  margin-top: 5px;
  font-weight: 600;
}
.nav > li > a {
  color: #a7b1c2;
  font-weight: 500;
  font-size:11px;
  padding: 14px 20px 14px 25px;
}
.signup-b label {
  text-align: right;
  width: 320px;
  max-width: none;
  display: block;
}
.nav.navbar-right > li > a {
  color: #999c9e;
}
.nav > li.active > a {
  color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: #ececec;
}
.nav > li > a i {
  margin-right: 6px;
}
.expanded-menu > li > a { border-top:1px solid rgba(255, 255, 255, 0.05); }
.expanded-menu > li > a i { width:35px; height:44px; line-height:44px; float:left; margin:-12px 10px -12px -15px; position:relative; border-right:1px solid rgba(255, 255, 255, 0.05);}
.expanded-menu > li.active > a i{ color:#19aa8d;}

.navbar {
  border: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border-radius: 2px;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}
.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  font-size:12px;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.dropdown-messages,
.dropdown-alerts {
  padding: 10px 10px 10px 10px;
}
.dropdown-messages li a,
.dropdown-alerts li a {
  font-size: 12px;
}
.dropdown-messages li em,
.dropdown-alerts li em {
  font-size: 10px;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
.nav-header {
  padding: 15px 25px;
}
.sxim-init .nav-header {
  transition: all 0.5s;
}
.nav > li.active {
  background: #293846;
}
.nav.nav-second-level > li.active {
  border: none;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}
.nav-header a {
  color: #DFE4ED; font-size: 12px;
}
.nav-header .text-muted {
  color: #8095a8;
}
.minimalize-btn {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}
.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.navbar-form-custom .form-group {
  margin-bottom: 0;
}
.nav.navbar-top-links a {
  font-size: 12px;
}
.nav.navbar-top-links a  i{
  color : #1ab394; 
}
.nav.navbar-top-links a  i.fa{
   font-size:14px; 
}

.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}
.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px; font-weight:400;
}
.nav-third-level li a {
  padding-left: 62px; font-size:11px;
}
.nav-second-level li:last-child {
  margin-bottom: 10px;
}


.minimize-sidemenu .nav li:hover > .nav-second-level,
.minimize-sidemenu .nav li:focus > .nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}
body.minimize-sidemenu .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}
.minimize-sidemenu .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}
.minimize-sidemenu .nav-second-level {
  position: absolute;
  left: 70px;
  top: 0px;
  background-color: #2f4050;
  padding: 10px 10px 10px 10px;
  font-size: 12px; width:200px;
}
.minimize-sidemenu li.active .nav-second-level {
  left: 65px;
}
.photo-header {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}
.logo-header {
	background:#233646; height:60px;
}
.sxim-init .navbar-static-side,
.sxim-init .nav-header,
.sxim-init li.active,
.sxim-init #page-wrapper,
.sxim-init #page-wrapper-full,
.sxim-init .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-fixed-top {
  background: #fff;
  transition-duration: 0.5s;
  border-bottom: 1px solid #e7eaec !important;
}
.navbar-fixed-top,
.navbar-static-top {
  background: #f3f3f4;
}
.fixed-nav #wrapper {
  margin-top: 60px;
}
.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}
.body-small .navbar-fixed-top {
  margin-left: 0px;
}
body.minimize-sidemenu .navbar-static-side {
  width: 70px;
  padding-top: 80px;
}
body.minimize-sidemenu .profile-element,
body.minimize-sidemenu .nav-label,
body.minimize-sidemenu .nav-second-level,
body.minimize-sidemenu .navbar-default .nav li a span {
  display: none;
}
body.minimize-sidemenu .navbar-default .nav > li > a {
  font-size: 16px;
}
body.minimize-sidemenu .photo-header {
  display: block;
}
body.minimize-sidemenu .logo-header {
  display: none;
}
body.minimize-sidemenu .nav-header {
  padding: 0;
  background-color: #233646;
}
body.minimize-sidemenu #page-wrapper,
body.minimize-sidemenu #page-wrapper-full,
body.minimize-sidemenu .footer {
  margin: 0 0 0 70px;
}
body.minimize-sidemenu #page-wrapper,body.minimize-sidemenu #page-wrapper-full {
  margin: 0 0 0 70px;
}
.btn {
  border-radius: 0px;
}
.btn.btn-sm .fa{
 font-size: 14px;
}
.float-e-margins .btn {
  margin-bottom: 5px;
}
.btn-w-m {
  min-width: 120px;
}
.btn-primary.btn-outline {
  color: #1ab394;
}
.btn-success.btn-outline {
  color: #1c84c6;
}
.btn-info.btn-outline {
  color: #23c6c8;
}
.btn-warning.btn-outline {
  color: #f8ac59;
}
.btn-danger.btn-outline {
  color: #DF0000;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,

.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}
.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #26d7d9;
  border-color: #26d7d9;
}
.btn-default {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #f9b66d;
  border-color: #f9b66d;
}
.btn-danger {
  background-color: #FF3333;
  border-color: #DF0000;
  color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #ff0000;
  border-color: #DF0000;
  color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #ef6776;
  border-color: #ef6776;
}
.btn-link {
  color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  color: #1c84c6;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  color: #cacaca;
}
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
  color: #cacaca;
}
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none; 
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-rounded {
  border-radius: 50px;
}
.btn-large-dim {
  width: 90px;
  height: 90px;
  font-size: 42px;
}
button.dim {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}
button.dim:active {
  top: 3px;
}
button.btn-primary.dim {
  box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
button.btn-primary.dim:active {
  box-shadow: inset 0px 0px 0px #16987e, 0px 2px 0px 0px #16987e, 0px 5px 3px #999999;
}
button.btn-default.dim {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}
button.btn-default.dim:active {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}
button.btn-warning.dim {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
button.btn-warning.dim:active {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}
button.btn-info.dim {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
button.btn-info.dim:active {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}
button.btn-success.dim {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
button.btn-success.dim:active {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}
button.btn-danger.dim {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;

}
button.btn-danger.dim:active {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}
button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;
}
button.dim:active:before {
  top: 7px;
  font-size: 50px;
}
.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-size: 10px;
  font-weight: 500 !important; 
  padding: 3px 8px;
  text-shadow: none;
  border-radius:0;
  -moz-border-radius:0;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline,
.control-label {
	
  font-weight: 500 !important; 

}
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}
.label-primary,
.badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}


/* PAGINATIN */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}


/* TOOLTIPS */
.tooltip-inner {
  background-color: #2F4050;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2F4050;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2F4050;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2F4050;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2F4050;
}



.stat-list li:first-child {
  margin-top: 0;
}
.stat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stat-percent {
  float: right;
}
.stat-list li {
  margin-top: 15px;
  position: relative;
}


/* CIRCLE */
.img-circle {
  border-radius: 50%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}


/* INPUTS */
label { font-size:12px;}
.btn { font-size:12px;}
.inline {
  display: inline-block !important;
}
.input-s-sm {
  width: 120px;
}
.input-s {
  width: 200px;
}
.input-s-lg {
  width: 250px;
}
.i-checks {
  padding-left: 0;
}
.form-control {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%; font-size:11px !important; height:30px;
  border-radius:0px !important; -moz-border-radius:0px !important;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn { font-size: 11px !important;   border-radius:0px !important; -moz-border-radius:0px !important;}
.form-control:focus {
  border-color: #f00;
}
.has-success .form-control {
  border-color: #1ab394;
}
.has-warning .form-control {
  border-color: #f8ac59;
}
.has-error .form-control {
  border-color: #ed5565;
}
.has-success .control-label {
  color: #1ab394;
}
.has-warning .control-label {
  color: #f8ac59;
}
.has-error .control-label {
  color: #ed5565;
}
.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 6px 12px;
  text-align: center;
}


.sidebard-panel {
  width: 220px;
  background: #ebebed;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
.sidebard-panel .feed-element img.img-circle {
  width: 32px;
  height: 32px;
}
.sidebard-panel .feed-element,
.media-body,
.sidebard-panel p {
  font-size: 12px;
}
.sidebard-panel .feed-element {
  margin-top: 20px;
  padding-bottom: 0;
}
.sidebard-panel .list-group {
  margin-bottom: 10px;
}
.sidebard-panel .list-group .list-group-item {
  padding: 5px 0;
  font-size: 12px;
  border: 0;
}
.sidebar-content .wrapper {
  padding-right: 230px;
}

body.boxed-layout {
 
}
body.boxed-layout #wrapper {
  background-color: #2f4050;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.block {
  display: block;
}
.clear {
  display: block;
  overflow: hidden;
}
a:hover,
a:focus {
  text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}
.font-bold {
  font-weight: 600;
}
.font-noraml {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}
.b-r {
  border-right: 1px solid #e7eaec;
}
.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* bsetec Modal */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 1200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}

/* WRAPPERS */
#wrapper {
  width: 100%;
}
.wrapper {
  padding: 0 20px;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
  background:#eeeeee ;
}
#page-wrapper-full {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
  background:#eeeeee ;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 1000px;
  }
  #page-wrapper-full {
    position: inherit;
    margin: 0px;
    padding: 0px 15px;
    min-height: 1000px;
  }
}
.title-action {
  text-align: right;
  padding-top: 30px;
}

ul.unstyled,
ol.unstyled {
  list-style: none outside none;
  margin-left: 0;
}
.big-icon {
  font-size: 160px;
  color: #e5e6e7;
}

body.minimize-sidemenu .footer.fixed,
body.body-small.minimize-sidemenu .footer.fixed {
  margin: 0 0 0 70px;
}
body.body-small .footer.fixed {
  margin-left: 0px;
}
/* PANELS */
.page-heading {
  padding: 0px 10px 20px 10px;
}
.panel-heading h1,
.panel-heading h2 {
  margin-bottom: 5px;
}
/* TABLES */
.table-bordered {
  border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #fff;
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;  background:#fff;   font-size:12px; 
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 3px 8px;
  font-size:11px;
 	
  vertical-align: top; 
}
/* PANELS */
.panel.blank-panel {
  background: none;
  margin: 0;
}
.blank-panel .panel-heading {
  padding-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background:#158d8e;
  border-color: #158d8e;
  border-bottom: #158d8e;
  border-image: none; font-weight:600;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  cursor: default;
}
.nav.nav-tabs li {
  background: none;
  border: none;
}
.nav-tabs > li > a {
border-radius:0;
-moz-border-radius:0;	
  color: #A7B5C2;
  font-weight: 500;
  background-color: #e6e6e6;
  padding: 5px 15px 5px 20px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: #676a6c;
}
/* GLOBAL  */
.no-padding {
  padding: 0 !important;
}
.no-borders {
  border: none !important;
}
.no-margins {
  margin: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}
.ibox-content.text-box {
  padding-bottom: 0px;
  padding-top: 15px;
}
.border-left-right {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
  border-top: none;
  border-bottom: none;
}
.full-width {
  width: 100% !important;
}
.link-block {
  font-size: 12px;
  padding: 10px;
}
.nav.navbar-top-links .link-block a {
  font-size: 12px;
}
.link-block a {
  font-size: 10px;
  color: inherit;
}
body.minimize-sidemenu .branding {
  display: none;
}
img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #1ab394;
}
.login-panel {
  margin-top: 25%;
}
.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icons-box .infont a i {
  font-size: 25px;
  display: block;
  color: #676a6c;
}
.icons-box .infont a {
  color: #a6a8a9;
}
.icons-box .infont a {
  padding: 10px;
  margin: 1px;
  display: block;
}
.ui-draggable .ibox-title {
  cursor: move;
}
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li a {
  color: inherit;
}
.breadcrumb > .active {
  color: inherit;
}
code {
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #ca4440;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

/* BACKGROUNDS */
.gray-bg {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}
.blue-bg {
  background-color: #1c84c6;
  color: #ffffff;
}
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}
.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}
.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}
.panel-primary {
  border-color: #1ab394;
}
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-success {
  border-color: #1c84c6;
}
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}
.panel-info {
  border-color: #23c6c8;
}
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}
.panel-warning {
  border-color: #f8ac59;
}
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}
.panel-danger {
  border-color: #ed5565;
}
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}
.progress-bar {
  background-color: #1ab394;
}
.progress-small,
.progress-small .progress-bar {
  height: 10px;
}
.progress-small,
.progress-mini {
  margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0px;
}
.progress-bar-navy-light {
  background-color: #3dc7ab;
}
.progress-bar-success {
  background-color: #1c84c6;
}
.progress-bar-info {
  background-color: #23c6c8;
}
.progress-bar-warning {
  background-color: #f8ac59;
}
.progress-bar-danger {
  background-color: #ed5565;
}
.panel-title {
  font-size: inherit;
}
.jumbotron {
  border-radius: 6px;
}
.jumbotron h1 {
  margin-top: 0;
}
/* COLORS */
.text-navy {
  color: #1ab394;
}
.text-primary {
  color: inherit;
}
.text-success {
  color: #1c84c6;
}
.text-info {
  color: #23c6c8;
}
.text-warning {
  color: #f8ac59;
}
.text-danger {
  color: #FF0000;
}
.text-muted {
  color: #888888;
}


/* margin pading */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}


/* LOGIN  LOCKSCREEN*/
.middle-box {

  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  z-index: 100; padding:20px; 
  
}
.middle-box .logo-login {
  border-bottom:dashed 1px #ddd; padding:0px 0 10px;  text-align:center;
}

.middle-box h1 {
  font-size: 40px;letter-spacing:-2px; margin:5px 0; ;
}




@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 1000px;
  }
  #page-wrapper-full {
    position: inherit;
    margin: 0px;
    padding: 0px 15px;
    min-height: 1000px;
  }
  .navbar-static-side {
    z-index: 101;
    position: absolute;
    width: 220px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0px;
    min-height: 1000px;
  }
  #page-wrapper-full {
    position: inherit;
    margin: 0px;
    padding: 0px 15px;
    min-height: 1000px;
  }
  .body-small .navbar-static-side {
    display: none;
    z-index: 1;
    position: absolute;
    width: 70px;
  }
  .body-small.minimize-sidemenu .navbar-static-side {
    display: block;
  }
  .lock-word {
    display: none;
  }
  .navbar-form-custom {
    display: none;
  }
  .navbar-header {
    display: inline;
    float: left;
  }
  .sidebard-panel {
    z-index: 2;
    position: relative;
    width: auto;
    min-height: 100% !important;
  }
  .sidebar-content .wrapper {
    padding-right: 0px;
    z-index: 1;
  }
}


.bg-white { background:#fff;}

/*Nestable lists*/
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
.dd-handle { cursor:default;display: block; margin: 5px 0; padding: 7px 10px; color: #333; text-decoration: none; border: 1px solid #ddd;
background: #fff;
}

.dd-handle:hover { color: #FFF; background: #4D90FD; border-color:#428BCA; }

.dd-item > button { color:#555;font-family: FontAwesome;display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 8px 2px; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 10px; line-height: 1; text-align: center; }
.dd-item > button:before {  display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #FFF; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
-moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd3-content { 
display: block; 
margin: 5px 0; 
padding: 7px 10px 7px 40px; color: #333; text-decoration: none;
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
color: #333333;
}
.dd3-content:hover { background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 35px; }
.dd3-handle { position: absolute; 
margin: 0; left: 0; top: 0; 
cursor: all-scroll; 
width: 34px; 
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden;
border: 1px solid #3276B1;
background: #428BCA;
height:36px;
box-shadow:1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}
.dd3-handle:before { content: '='; display: block; position: absolute; left: 0; top: 5px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #4E9DFF; } 


.infobox {
    border-left: 3px solid #EEEEEE;
    margin: 0 0 35px;
    padding: 20px;
}
.infobox h5 {
    margin-bottom: 6px;
    margin-top: 0;
}
.infobox p:last-child {
    margin-bottom: 0; font-size: 11px !important;
}
.infobox code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.infobox-default {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
}
.infobox-default h5 {
    color: #555555;
}
.infobox-danger {
    background-color: #FDF7F7;
    border-color: #D65C4F;
}
.infobox-danger h5 {
    color: #D65C4F;
}
.infobox-warning {
    background-color: #FCF8F2;
    border-color: #E7804F;
}
.infobox-warning h5 {
    color: #E7804F;
}
.infobox-info {
    background-color: #F2F7F9;
    border-color: #1992C2;
}
.infobox-info h5 {
    color: #1992C2;
}
.infobox-success {
    background-color: #F4FAF5;
    border-color: #239169;
}
.infobox-success h5 {
    color: #239169;
}

.info-blocks {
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.info-blocks > li {
    display: inline-block;
    margin: 0 10px 5px;
    min-width: 150px;
    text-align: center;
    white-space: nowrap;
}
.info-blocks > li > a > i {
    display: inline-block;
    font-size: 48px;
    margin-bottom: 20px;
}
.info-blocks > li > a:hover {
    color: #FFFFFF;
    opacity: 0.8;
}
.top-info {
    margin: 16px 14px 14px;
}
.top-info > a {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}
.top-info > a:hover {
    color: #FFFFFF;
    opacity: 0.8;
}
.top-info > small {
    display: block;
    font-size: 11px;
    margin-top: -2px;
}
.bottom-info {
    border-radius: 0 0 2px 2px;
    display: block;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 8px 5px;
}
@media (max-width: 478px) {
	.info-blocks > li {
		margin: 10px 0;
		width: 100%;
	}
}

.sbox-content h1,
.sbox-content h2,
.sbox-content h3,
.sbox-content h4,
.sbox-content h5,
.sbox-title h1,
.sbox-title h2,
.sbox-title h3,
.sbox-title h4,
.sbox-title h5 {
  margin-top: 5px;
}
.sbox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0; border:solid 1px #ddd; 
}
.sbox:after,
.sbox:before {
  display: table;
}
.sbox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #1ab394;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
 
}
.sbox-title h3{  float: left; display:inline-block; }
.sbox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.sbox-tools a {
    color: #c4c4c4;
    cursor: pointer;
    margin-left: 5px;
}
.sbox-content {
  background-color: #f9f9f9;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #ddd;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
.sbox-title h5 {
    display: inline-block;
    float: left;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
}
.sbox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.page-header { padding:20px 15px 20px; margin:0; background:#fff; border-top:solid 1px #ddd }
fieldset { margin:10px 0;}
fieldset legend { font-size:16px; padding:10px 0; font-weight:500; }

.table-responsive { background:#fff;  border:solid 1px #ddd; overflow-x:auto; overflow-y: hidden;}
.scroll-sec .table-responsive { overflow:hidden; overflow-x: auto; }
.toolbar { margin:10px 0; clear:both; text-align:right;}
.toolbar-line { margin:15px 0; clear:both; }
.page-content-wrapper { padding:0 15px;}
.ribon-bsetec { margin:20px 0;}
.su_course_curriculam .closeheader input[type="button"]:hover, .su_course_curriculam .closeheader input[type="button"] {
  background-color: #da4f49;
}


.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.active a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.active a i {
  color: #1fb5ad;
}

.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.active ul li a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.active ul li a i {
  color: #a2a6ac;
}

.panel { background:none !important;; border-color:none !important;}
.panel.panel-default { background:none !important;; border-color:#eee !important;}

/* Back to to */
.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0px;
  text-decoration: none;
  color: #FFF;
  background-color: #4FA2C2;
  font-size: 12px;
  padding: 9px 12px;
  display: none;
}
.back-to-top i {
  font-size: 15px;
}
.back-to-top:hover {
  color: #FFF;
  background-color: #3A4B55;
}
.back-to-top:focus {
  color: #FFF;
}


/*Validation*/
.parsley-error-list {
  margin-top: 4px;
  padding: 0;
}
.parsley-error-list li {
  padding: 0;
  list-style: none;
  color: #cc0000;
}
.parsley-error {
  border-color: #c00 !important;
}
/* clear div */
.clr { clear:both;}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

.pln {
  color: #4d4d4c;
}

@media screen {
  .str {
    color: #718c00;
  }

  .kwd {
    color: #8959a8;
  }

  .com {
    color: #8e908c;
  }

  .typ {
    color: #4271ae;
  }

  .lit {
    color: #f5871f;
  }

  .pun {
    color: #4d4d4c;
  }

  .opn {
    color: #4d4d4c;
  }

  .clo {
    color: #4d4d4c;
  }

  .tag {
    color: #c82829;
  }

  .atn {
    color: #f5871f;
  }

  .atv {
    color: #3e999f;
  }

  .dec {
    color: #f5871f;
  }

  .var {
    color: #c82829;
  }

  .fun {
    color: #4271ae;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}

.icon-classes-showcase > span {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    display: inline-block;
    font-size: 12px;
    margin: 0.5em 1em 0.5em 0;
    padding: 8px;
    width: 15em;
}
.icon-classes-showcase > span > i {
    float: left;
    margin: 1px 6px 0 0;
}
.icon-show  { font-size: 13px !important; padding: 0 10px;}
.icon-show  i{ margin-right: 5px } 
.icon-show  .col-md-3{ padding: 5px; border: solid 1px #ddd; background:#fff; margin-bottom: 3px; } 

/* select */
.select-alt { float:left; padding:5px 2px; border:solid 1px #ddd; margin-right:5px; font-size: 11px;}

/* dashboard */
.shortcut { border:solid 1px #eee; border-top:solid 1px #1ab394;}
.shortcut i{ font-size:50px;  } 
.shortcut span.h3{ font-weight:400 !important; font-size:16px; }
.shortcut span.h3 { color: #233646 }

.footer-pagination ul.pagination { float:right;}


.front-header .navbar {
  position: relative;
  min-height: 60px;
  margin: 10px 0 10px !important;

}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transition:none;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  padding: 19.5px 15px;
  font-size: 19px;
  line-height: 21px;
  height: 60px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 9.75px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 21px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
.navbar-btn.btn-sm {
  margin-top: 13.5px;
  margin-bottom: 13.5px;
}
.navbar-btn.btn-xs {
  margin-top: 19px;
  margin-bottom: 19px;
}
.navbar-text {
  margin-top: 19.5px;
  margin-bottom: 19.5px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.front-header .navbar-default {
  background-color: #fff;
 
}
.front-header .navbar-default .navbar-brand {
  color: #526476;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #526476; font-size:14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #18bc9c;
  background-color: #fff; border-bottom:solid 2px #18bc9c;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #18bc9c;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #18bc9c;
}
.navbar-default .btn-link {
  color: #ffffff;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #18bc9c;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}


.navbar a.navbar-brand span.logo_title {}
.navbar a.navbar-brand {
    height: 70px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 415px;
}
.navbar a.navbar-brand img {
    float: left;
    height: 70px;
    margin: 0 6px 0 0;
    width: 70px;
}
.navbar a.navbar-brand span.logo_title {
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px 0 0;
    text-shadow: 1px 1px 0 #ffffff;
}
.navbar a.navbar-brand span.logo_subtitle {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-shadow: 1px 1px 0 #ffffff;
}
header .navbar .navbar-collapse .nav > li > a {
    position: relative;
    display: block;
    padding: 20px 12px;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pre-header { padding: 0; border-bottom: solid 1px #eee; background: #f9f9f9; font-size: 12px !important; font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.pre-header  ul { padding: 0; margin: 0;} 
.pre-header  ul li{  padding:5px 10px; border-right: solid 1px #eee;}
.pre-header  ul li a{ color:#555 !important; display:block;} 
.pre-header  ul li:first{ border-left: solid 1px #eee;}
.front-header  { background: #FFFFFF;}

#footer { background:#282A2B; padding:20px 0; color:#fff; font-size:13px;} 
.sidebar-collapse ul li ul li:hover { background:none; }
.admin-sidebar .sidebar-collapse ul li ul li a { border-bottom: medium none !important; }
body .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 20px;
}
/*.sidebar-collapse ul li ul li:hover a {
  color: #1fb5ad !important;
}*/

/*************************************************************SideBar****************************************************/
@media(min-width:1200px){
.navbar-default.navbar-static-side.admin-sidebar { width:240px; }
body.minimize-sidemenu .navbar-default.navbar-static-side.admin-sidebar { width: 70px; }
body.minimize-sidemenu #wrapper #page-wrapper, body.minimize-sidemenu #wrapper #page-wrapper-full { margin: 0 0 0 70px; }
#wrapper #page-wrapper { margin: 0 0 0 240px; }
#wrapper .admin_right_content.navbar.navbar-static-top.gray-bg .navbar-header .btn-primary {
  background-color: #32d2c9;
  border-color: #32d2c9;
  border-radius: 50%;
  color: #23938c;
  display: table-cell;
  height: 35px;
  margin-left: -20px;
  margin-top: 20px;
  padding: 7px 0;
  vertical-align: middle;
  width: 35px;
}
.sidebar-collapse ul li ul li {
  padding: 0 20px;
}


#wrapper .admin_right_content.navbar.navbar-static-top.gray-bg .navbar-header a:focus { outline:none; }
.m-l-none.m-r-none.m-t.white-bg.shortcut .col-md-3 { padding: 0 0.8% 0 0; width: 25%; }
.cmn-t a.clear .text-muted.text-uc { display: block; min-height: 56px; }
}

@media(min-width:768px){
	.m-l-none.m-r-none.m-t.white-bg.shortcut .col-md-3 { /*padding: 0 0.8% 0 0;*/ width: 25%; }
	
}
@media(min-width:768px) and (max-width:1300px){
/*.cmn-t a.clear .text-muted.text-uc {
  min-height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}*/
}
/*.m-l-none.m-r-none.m-t.white-bg.shortcut .col-sm-6.col-md-3.b-r.p-sm { padding-right: 0; }*/
.gray-bg .admin-right-menu ul li a { color: #666666; font-family: open sans; font-size: 16px; font-weight: 600; text-transform: capitalize;  line-height: 80px; min-height:0px; }
.gray-bg .admin-right-menu ul li a:focus { background:none; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.m-l-none .cmn-t .h3 strong {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.gray-bg .admin-right-menu ul li a i {  color: #666666; font-size: 16px; }
.cmn-t { border-radius: 5px; padding: 20px; }
.m-l-none .cmn-t .h3 strong { color: #fff; font-family: open sans; font-size: 18px; font-weight: 600; }
.m-l-none .cmn-t .h3 { margin-top:0px; }
.cmn-t .text-muted.text-uc { color: #fff; font-family: open sans; font-size: 13px; }
.module-b.cmn-t { background: #22ba9b; }
.cmn-t .m-r-sm i { color: #fff; margin-top: 10px; }
.settings-b.cmn-t { background: #666981; }

.admin-right-menu ul li ul li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding: 0;
}
.admin_right_content .admin-right-menu ul li ul li a {
  line-height: 30px;
  margin: 0;
  padding: 5px 15px;
  font-weight: 400;
}
.admin-right-menu ul li ul li i {
  width: 12px;
}
.navbar.navbar-static-top.gray-bg.admin_right_content {
  height: auto;
  min-height: 0;
}
.admin-right-menu ul li a i {
  margin: 0 8px 0 0;
}
.gray-bg .admin-right-menu ul li a:hover { background:none; }
.dashboard-m.m-l-none.m-r-none.m-t.white-bg.shortcut {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.admin-right-menu ul li { background:url('../images/gray-pipe.png') no-repeat left;  }
.admin-right-menu ul li a { padding: 0 20px; }
.admin-right-menu ul li:first-child { background:none; }
.site-menu { background: #e17695; } .user-group { background: #fbb168; }
.admin_title { border-bottom: 1px solid #d7d7d7; color: #333; font-family: open sans; font-size: 22px; font-weight: 400; margin: 20px 15px; padding-bottom: 14px; text-transform: uppercase; }
.admin_right_content.navbar.navbar-static-top.gray-bg { background: #fff; }
.navbar-default.navbar-static-side.admin-sidebar { background:#32323a; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover { background: #28282e; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a:hover { background:none; }
body { background:#32323a; }
.admin-sidebar .logo-header { height: auto; text-align: center; background: #158d8e; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.logo-header a { display: block; float: none; height: auto; padding: 25px 0; text-align:center; }
.admin-sidebar .logo-header a img { margin: 0 auto; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li.logo-header:hover { background: #158d8e; }
.navbar-static-side.admin-sidebar ul.expanded-menu li a i { border-right: medium none; height: auto; line-height: normal; margin: 2px 13px 0 0; width: auto; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a { font-family: open sans; font-size: 14px; padding: 16px 10px 16px 20px; color:#a2a6ac; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a i { color:#a2a6ac; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover a i { color:#1fb5ad; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:last-child a { border-bottom:1px solid rgba(255, 255, 255, 0.05); }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a:focus { outline:none;  background:none; }
.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li a span.fa.arrow { margin: 4px 7px 0; color: #58585e; }
.navbar-default.navbar-static-side.admin-sidebar .nav > li.active { background: #32323a; }
.navbar-default.navbar-static-side.admin-sidebar .nav-second-level li:last-child { margin-bottom: 0; }
.navbar-default.navbar-static-side.admin-sidebar .nav-second-level li:last-child a { border-bottom:none;}
.filter-b label { color: #333; font-family: open sans; font-size: 14px; font-weight: 400; margin-right: 10px; }
.filter-b { float: right; }
.sbox .course-title { color: #333; font-family: open sans; font-size: 20px; font-weight: bold; margin: 0; }
.sbox .course-title small { color: #908f8f; font-family: open sans; font-size: 13px; margin-left: 10px; margin-top: 0; }
.dashboard-b .sbox-title { background: #fafafa; border: medium none; }

.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover ul li a span, .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover ul li a i { color:#a2a6ac; }

.navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li ul li:hover a , .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li ul li:hover a i { color:#1fb5ad; }

body .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:hover span { border-bottom:none; }
body .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:last-child ul li { border-top:none; }
body .navbar-default.navbar-static-side.admin-sidebar ul.expanded-menu li:last-child ul li {  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;}
#avatar-circle.img-circle.user_image_selector { margin-top: 12px; }
.parsley-error-list li { border-radius: 0; margin-bottom: 4px; padding: 6px 5px; }
.user_type .iradio_square-green { margin-right: 5px; }
body.update #page-wrapper { min-height: 750px; }
.view_block li ul li a:hover { background: none; width:auto;} 
.btn-default, .btn-default:hover,.btn-default:focus { background: #666666 ; border: medium none; padding: 2px 6px; outline:none; }
.page-header .breadcrumb li.active { color: #158d8e; }
.page-header .breadcrumb li a { color:#e59859; }
.page-content-wrapper .table-responsive .usercomments { border-bottom: 1px solid #ddd; }
.page-content-wrapper ul.nav.nav-tabs li a { background: #e59859; color: #fff; }
.page-content-wrapper ul.nav.nav-tabs li.active a { background: #158d8e; border: 1px solid #158d8e;}
/******************************************************************Login*****************************************************/
.tagsinput input#tagit_tag {
  width: 100% !important;
}
.asterisk { color:#f00; }
body.login-b .middle-box {
  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
.login-s::after {
  clear: both;
  content: " ";
  display: block;
}
.login-s {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d4d4d5;
  display: block;
  float: none;
  margin: 8% auto 30px;
 padding: 20px 2.8% 35px; /*float: right;*/
  width: 835px;
}
.login-s h3 {
  border-bottom: 1px solid #f3f3f3;
  color: #333333;
  font-family: open sans;
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 35px;
  padding-bottom: 10px;
  text-transform: capitalize; text-align: right;
}
.login-s .left-s label {
  text-align: right;
  width: 320px; display: block;
}
.animatdeds { text-align: right;width: 320px;}
.login-s .left-s .fgt  {text-align: right;width: 320px;}
.login-s .left-s .signup-l  {text-align: right;width: 320px;}
.login-s .remember .icheckbox_square-green {
  margin-left: 5px;
}
.login-s label {
  color: #333;
  font-family: open sans;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 13px;
  text-transform: capitalize;
}
.login-s .form-group {
  border: 1px solid #d9d9db;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  width: 320px;
}
.login-s .form-group input[type="text"], .login-s .form-group input[type="password"] {
  border: medium none;
  font-size: 15px;
  height: 43px;
  padding-left: 35px;
  text-indent: 0;
  width: 100%;padding-right: 35px; text-align: right;
}
.login-s .left-s {
  float: right;
  width: 42%;
}
.login-s .right-s {
  float: right; margin-right: 137px;
  width: 40%;
}
.login-s label span.req {
  color: #f00;
  margin-left: 5px;
}
.signup-l a, .fgt a { color: #333;
  font-size: 13px; font-family: open sans; text-transform:capitalize; text-decoration:none;  }
  .fgt { margin-bottom:10px; }
  .signup-l {
  margin-bottom: 15px;
}
.login-s .remember {
  color: #333;
  font-size: 13px;
}
.txt-b i {
  color: #868686;
  font-size: 15px;
}
p.login {
  color: #158d8e;
  font-family: open sans;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 13px;
}
.captcha-block img {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.right-s ul.social-link {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul.social-link li a { 
  border: 1px solid #d9d9db;
  display: block;
  line-height: 45px;
  font-family: open sans;
  font-weight: 600;
  font-size:14px;
  text-transform:uppercase; text-align: right;
  padding:0 65px 0px 25px;
  border-radius: 5px;
  color:#fff;
  border: medium none;
}
.reset-pwd button.btn.btn-color, .fgt-pwd button.btn.btn-color, .register-b button.btn.btn-color, .left-s button.btn.btn-color {
  background: #158d8e none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  height: 40px;
  padding: 0 25px;
  text-transform: uppercase;
}
.reset-pwd button.btn.btn-color { border-radius:2px; }
.reset-pwd .login-s {
  display: block;
  padding: 20px 18px;
  width: auto;
}
.register-b button.btn.btn-color {
  margin-top: 8px;
}
body.login-b {
  background: #f5f5f5 none repeat scroll 0 0;
}
.signup-l a {
  color: #158d8e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
}
ul.social-link li {
  margin-bottom: 14px;
  position: relative;
}
ul.social-link li a span {
  margin-left: 15px;
}
ul.social-link li a span.twit {
  margin-left: -2px;
}
ul.social-link li a span.google_plus {
  margin-left: 6px;
}
ul.social-link li a:hover { color:#fff; }
ul.social-link li a i {
  font-size: 25px;
  left: auto;right: 28px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.login-s .signup-b li {
  float: right;
  width: 42%;
  margin-bottom: 10px; margin-left: 20px;
}
.login-s .form-group i {
  color: #868686;
  font-size: 18px;
  left: auto;
  position: absolute;
  top: 13px; right: 10px;
}
ul.social-link li:first-child a {  background: #37589b; }
ul.social-link li:first-child + li a {  background: #31aae1; }
ul.social-link li:first-child + li + li a {  background: #da4b3a; }
.login-s .signup-b {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.login-s .alert-danger {
  border-radius: 0;
  color: #a94442;
  padding: 7px 6px;
}
.reset-pwd .login-s h3, .fgt-pwd .login-s h3 { font-size:20px; }
.fgt-pwd .login-s {
  width: auto;
}
.fgt-pwd a {
  color: #158d8e;
  font-family: open sans;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: underline;
  text-transform: capitalize;
}
/*******************************************************************End****************************************************/
.page-content.row.blogadmin-add .iradio_square-green {
  margin-right: 5px;
}
.modal-dialog .modal-header .close {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: 30px;
  margin-top: 0;
  opacity: 1;
  text-shadow: none;
  width: 30px;
}
body .modal-titles, body  .modal-title {
  color: #fff;
  font-family: open sans;
  font-size: 18px;
  font-weight: 400;
  text-align:right;
  margin: 5px 0 3px;padding-right: 40px;
}
#infobody h2 {text-align: right;}
#reportbody .form-group p {text-align: right;}
#reportbody .form-group label {text-align: right;}
#reportbody .form-group select {text-align: right;}
#reportbody .form-group select option {padding-right: 30px;}
body .modal-dialog {
  border: medium none;
}
.mail-options .actbuttons ul.dropdown-menu li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
body .modal-header {
  background: #158d8e;
  border-bottom: 1px solid #158d8e;
  padding: 5px;
}
.test_vid .video_preview {
  text-align: center;
}
.test_vid .video_preview video {
  width: 100%;
}

.forum_admin table.table.table-striped td p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
}

.admin-right-menu .navbar-right { margin-right:0px; }
#bsetecTable .table-responsive table td {
  vertical-align: middle;
}
fieldset legend {
  border-bottom: 1px solid #999;
  margin-bottom:20px;
}
.input-group.input-group-sm.create_menu .input-group-addon.xlick.bg-default.btn-sm {
  height: auto;
}
@media(min-width:1200px){

}
@media(min-width:1200px) and (max-width:1380px){
	.cmn-t a.clear .text-muted.text-uc {
  display: block;
  min-height: 95px;
}
}
@media(min-width:980px) and (max-width:1199px){
	.cmn-t {
  padding: 10px;
}
/*.cmn-t .m-r-sm i {
  font-size: 25px;
}*/
.m-l-none.m-r-none.m-t.white-bg.shortcut .col-sm-6.col-md-3.b-r.p-sm {
  padding-top: 0px;
}
.cmn-t .m-r-sm i { margin-top:0px; }
.row.m-l-none.m-r-none.m-t.white-bg.shortcut.dashboard-m .col-sm-6.col-md-3 {
  width: 50%;
  margin-bottom: 10px;
}
.cmn-t .text-muted.text-uc {
  height: 60px;
  display:block;
}
}
@media(min-width:768px) and (max-width:979px){
  .login-s .signup-b li {margin-left: 0px;}
.login-s {
  width: 84%;
}	
.login-s .signup-b li {
  padding: 0 12px; width: 50%;
}

.login-s .form-group i {
  font-size: 17px;
}
.login-s .left-s {
  width: 50%;
  padding: 0 20px 0 0;
}
.login-s .form-group{
  width: 100%;
}
.login-s .right-s {
  padding: 0 15px;
  width: 50%; margin: 0px;
}

ul.social-link li a {
  padding: 0 10px;
}
.col-sm-6.col-md-3.b-r.p-sm { padding:0 15px; }
	
.cmn-t {
  padding: 10px;
}
.cmn-t .m-r-sm i { margin-top:0px; }
.row.m-l-none.m-r-none.m-t.white-bg.shortcut.dashboard-m .col-sm-6.col-md-3 {
  width: 50%;
  margin-bottom: 10px;
}
.cmn-t .text-muted.text-uc {
  height: 60px;
  display:block;
}
}
@media(max-width:767px){
  .signup-b label { width: auto;}
  .login-s .form-group { width: auto;}
.login-s .left-s label  { width: auto;}
.login-s .left-s .fgt  { width: auto;}
.login-s .left-s .signup-l { width: auto;}
.animatdeds  { width: auto;}
.login-s {
  width: auto;
}
.login-s .signup-b li {
  float: none;
  width: auto;
}
.login-s .right-s, .login-s .left-s {
  float: none;
  width: 100%;
}
.login-s .right-s {
  margin-top: 25px;
}
.test_vid .video_preview {
  text-align: center;
}
.test_vid .video_preview video {
  width: 100%;
}
/*	.m-l-none.m-r-none.m-t.white-bg.shortcut .col-sm-6.col-md-3.b-r.p-sm {
  padding: 0 15px;
}*/
.m-l-none.m-r-none.m-t.white-bg.shortcut.dashboard-m .col-md-3 {
  margin-bottom: 10px;
}
.m-l-none.m-r-none.m-t.white-bg.shortcut.dashboard-m .col-sm-6 {
  padding: 0px;
}
.admin-right-menu .navbar-top-links li:last-child {
  margin-right: 0;
}
.gray-bg .admin-right-menu ul li a {
  font-size: 15px;
  padding: 0 12px;
    line-height: 50px;
}
.admin-right-menu ul li a i {
  margin: 0 4px 0 0;
}
.admin-right-menu {
  margin: 0 auto;
  float: none;
  margin: 0 auto;
  display: table;
}
.admin_right_content .navbar-minimalize.minimalize-btn.btn.btn-primary {
  margin: 11px 6px;
}
body.minimize-sidemenu .navbar-static-side {
  padding-top: 40px;
}
.btn-section button  {
  margin-bottom: 5px;
}
.nav.nav-tabs.module_tab li {
  margin-bottom: 2px;
}
}
@media(max-width:480px){
	.login-s {
  width: 300px;
}
.admin-right-menu .navbar-top-links li:last-child {
  margin-right: 0;
}
#compose-modal .form-group label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}
#compose-modal-content button.btn.btn-sm, #compose-modal .form-group .col-xs-10 {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

.gray-bg .admin-right-menu ul li a {
  font-size: 13px;
  padding: 0 6px;
    line-height: 40px;
}
.admin-right-menu ul li a i {
  margin: 0 4px 0 0;
}
.admin-right-menu {
  margin: 0 auto;
  float: none;
  margin: 0 auto;
  display: table;
}
.login-s {
  display: block;
    margin-left: 10px;
  margin-right: 10px;
}
.login-s .form-group { width:auto; }
.dashboard-b .sbox-title {
  display: inline-block;
  height: auto;
}
.login-s {
margin: 20px auto;
}
ul.social-link li a {
  font-size: 13px;
}
.filter-b {
  margin-top: 12px;
}
.admin_right_content .navbar-minimalize.minimalize-btn.btn.btn-primary {
  margin: 6px 6px;
}
#content_parent.mceEditor.defaultSkin {
  display: block;
  overflow-x: auto;
}
.sbox-content.blog-comment ul li {
  margin-bottom: 2px;
}
.block-content .tab-content.m-t ul li {
  margin-bottom: 2px;
}
table.translation-sec td a.btn {
  display: block;
  margin-bottom: 2px;
}


}
@media(max-width:320px){
	.cmn-t .m-r-sm i {
  font-size: 20px;
}
}
/***************************************************************End*******************************************************/

.invoice-block .datepicker.datepicker-dropdown.dropdown-menu {
  left: auto !important;
  right: 110px;
}
.invoice-block .datepicker-dropdown::after {
  left: auto;
  right: 7px;
}
.invoice-block .datepicker-dropdown::before {
  left: auto;
  right: 6px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group select.form-control {
  width: 99.999%;
}


/*19.04.17*/
.page-content.row .page-content-wrapper .nav.nav-tabs.module_tab > li {
  margin-bottom: 4px;
}

#bsetecTable .table-responsive table td, [data-icon]::before {
  position: relative;
  
}