@charset "utf-8";
/* CSS Document */

/**********************************************************Header****************************************************************/
 .user_profile ul.dropdown-menu { left: auto; right: 0; } body #page-wrapper-full { min-height: 0; }
body a:focus { outline:none; text-decoration:none;} header .logo h1 { margin: 0; }
.home_menu.list-unstyled.list-inline.pull-right li a { color: #000; font-family: open sans; font-size: 14px; text-transform: uppercase; padding: 0 16px; line-height:60px; display:block; text-decoration: none; background:url('../images/pipe.png') no-repeat left; }
.home_menu.list-unstyled.list-inline.pull-right { margin-bottom: 0; margin-left: 0; } .expert .logo img { padding: 15px 0; } 
header.expert { background: #fff; border-bottom: 1px solid #eee; box-shadow: 0 8px 6px -6px #aaaaaa; left: 0; position: fixed; right: 0; top: 0; z-index: 1030; width: 100%; }
.home_menu.list-unstyled.list-inline.pull-right li { padding: 0; } .home_menu.list-unstyled.list-inline.pull-right li:first-child a { background:none ; }
.home_menu.list-unstyled.list-inline.pull-right li:last-child a { padding-right: 0; }
.home_menu.list-unstyled.list-inline.pull-right li a:focus { outline:none; }
.notification { background:url('../images/bell.png') no-repeat left;  padding-left: 20px; }
.notification em { background: #d8d8d8; border-radius: 30px; color: #fff; font-style: normal; padding: 5px 6px; }
.home_menu.list-unstyled.list-inline.pull-right li.user_profile ul li a { background:none; line-height: 35px; padding-left: 10px; padding-right: 3px; }
.home_menu.list-unstyled.list-inline.pull-right li.user_profile ul li a i { margin-right: 2px; width: 15px; } .user_profile ul { margin-top: 0; }
.user_profile .user_name { font-size: 14px; font-weight: bold; margin-left: 5px; text-transform: capitalize; }
.hide-s { display: none; } .browse_block ul.dropdown-menu { border: 1px solid #ddd; left: 0px; }
.browse_block ul.dropdown-menu li a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; padding: 0 10px; }
li.hide-s .search_s { margin: 0 13px; width: 90%; } .seach_alone_courses .dropdown-menu { border-radius: 10px; margin: 0; padding: 10px 20px; width: 100%; }
.user_profile .profile_pic { padding-left: 10px; padding-right: 5px; } .user_profile ul.dropdown-menu li:first-child { border-bottom: 1px solid #ddd; }
.expert .logo, .expert .browse_block { float: left; }
.browse_block a { text-decoration:none; background: #e8e8e8 url("../images/btn-img.png") no-repeat scroll 18px center; border-radius: 5px; color: #5c5c5c; display: block; font-family: open sans; font-size: 14px; margin: 0 0px; padding: 7px 16px 7px 40px; text-transform: capitalize; }
.search_s input[type="submit"] { background: rgba(0, 0, 0, 0) url("../images/search-i.png") no-repeat scroll 6px center; border: medium none; float: left; height: 30px; padding: 3px 0; text-indent: -9999px; width: 15%; }
.search_s { border: 1px solid #ccc; border-radius: 7px; float: left; margin-left: 3%; width: 50%; }
.search_s input[type="search"] { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; border-radius: 5px; box-shadow: none; float: left; height: 30px; text-indent: 6px; width: 85%; }
.browse_block ul.dropdown-menu li a { margin: 8px 0; } .browse_block ul.dropdown-menu li a:hover { color: #7b8a8b; }
.browse_block ul.dropdown-menu { padding: 0 15px; width: auto; border-radius: 0; }
.left_block { float: left; margin: 13px 0; padding-left: 5.3%; width: 75%; }
body .gray-bg {  position:static!important; background:none; }
.user_profile span.profile_img img { border-radius: 50%; height: 30px; width: 30px; }
.user_profile .profile_pic img { border: 1px solid #ddd; border-radius: 50%; height: 45px; width: 45px; }
/**********************************************************End*********************************************************************/
/*******************************************************************Body****************************************************************/
.progress.active .progress-bar, .progress-bar.active { animation: 2s linear 0s normal none infinite running progress-bar-stripes; }
body.course_body { background: #f5f5f5 none repeat scroll 0 0; }
body { padding-top: 60px; } body.course-body #page-wrapper-full { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }
body.home header.expert { box-shadow: none; } body #page-wrapper-full.gray-bg { padding: 0; }.img_hover a {
  text-decoration: none;
}
/*********************************************************************End****************************************************************/
/***********************************************************Footer******************************************************************/
.footer_menu li a {text-transform: capitalize; } .footer_menu li { float: left; margin-left: 15px; }
.footer_menu { list-style: outside none none; margin: 0; padding: 0; float:right; } footer { background: #414147 ; } footer #footer { background: none; padding: 0;} footer #footer  p { margin:0px;}
footer p, footer ul li a { color: #e8e8e8; line-height: 47px; font-family: open sans; font-size: 14px; font-weight: 600; }
.footer_menu li:first-child { margin-left: 0; } .footer_menu li a:focus, .footer_menu li a:hover { color: #e8e8e8; text-decoration: none; outline:none; } 
.button_footer { /*border: 1px solid #ddd;*/ padding: 20px 0;/* border-right:none;*/ border-bottom:none;}
.footer_menu li a:hover { text-decoration: underline; }
/*********************************************************End*********************************************************************/

/***************************************************************************Breadcrumb**********************************************************************/
.gray-bg .breadcrumb { background: #eaeaea; margin-top: 10px; } body.course-body .breadcrumb { display: none; }
/*****************************************************************************End**************************************************************************/
body.home .expert-plus { margin-top: 0; }
/*****************************************************************************************Mycourse*******************************************************/

.reg_form.new_reg_form.my-course-block h2.top-title { font-family: open sans; font-size: 20px; font-weight: 600; line-height: normal; margin-top: 10px; text-align: left; text-transform: uppercase; }
.reg_form.new_reg_form.my-course-block .feature.follow_b { background: #428bca; border: medium none; border-radius: 2px; color: #fff; float: right; padding: 4px 10px; text-transform: capitalize; }
.reg_form.new_reg_form.my-course-block .pot_lik a { display: block; height: 200px; margin-bottom: 10px; }
.reg_form.new_reg_form.my-course-block .business_office { box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2); border:none; }
.business_office .course_title a { font-family: open sans; font-size: 14px; font-weight: 700; text-decoration: none; }
.business_office .feature_btn { float:right; } .business_office .course_title { float:left; }
.business_office .dollar_rupess { float:right; } .rate-block { margin-top: 7px; }
body.sxim-init.course-body .gray-bg { background: #f5f5f5; }
.business_office .dollar_rupess p { color: #000; font-family: open sans; font-size: 16px; font-weight: 600; margin-bottom: 0; }
.business_office .image span.DraftCourse { background: #f9a530 none repeat scroll 0 0; color: #fff; padding: 5px 10px; position: absolute; right: 10px; top: 10px; z-index: 1; }
.business_office .image span.Publish { background-color: #62cf65; color: #fff; padding: 5px 10px; position: absolute; right: 10px; top: 10px; }
.mycourse_block .star_rating { margin: 3px 0; }
.mycourse_block .block_course .course_detail h4 { min-height: 15px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.mycourse_block .block_course .business_office { background: #fff none repeat scroll 0 0; border: medium none; border-radius: 0; box-shadow: 0 2px 5px 0 #aaaaaa; margin-bottom: 0; }
.mycourse_block .block_course .image a img { max-height: 100%; }
.mycourse_block .business_office .btn.favoritebtn.heart_align { padding: 6px 0; } .mycourse_block .business_office .btn.favoritebtn.heart_align i { font-size: 20px; }
 .editdescription p { word-wrap: break-word; }
/****************************************************************************************End***************************************************************/

/************************************************************************Homepage*********************************************************************************/
.banner img { width: 100%; } .banner-content { text-align: center; }
.block_img { position:relative;} .block4:hover img.box1, .block_img:hover img.box1 { display:block;  }
.block4 a img.box1 { background: #f58e4e none repeat scroll 0 0; border-radius: 50%; }
.block4 img.box1 { display: none; left: 0; margin: 0 auto; position: absolute; right: 0; top: 0; }
.block_img img { border: 15px solid #f58e4e; -webkit-transition: all 0.7s ease; transition: all 0.7s ease;  }
.block4:hover img { transform: rotate(360deg); border-color:#fff; transition: all 0.5s ease 0s;   }
.block4 img {  transform: rotate(0deg); transition: all 0.5s ease 0s; }
.block4:hover img.ibgwhite { border-color:#fff; }
.banner-content h3 { font-family: roboto; font-size: 34px; }  .banner-content h3 span { font-weight:300; }
.banner-content p { font-size:16px; font-family:roboto; font-weight:300; } .block4 a img.ibgwhite { background: #ffffff none repeat scroll 0 0;   border-radius: 50%; }
.block4 a img.ibgorange { background: #f58e4e none repeat scroll 0 0; /*border: 15px solid #ffffff;*/ border-radius: 50%; }
.authorized_section { background-color: #f58e4e; height: 130px; margin: 0; }
.block4 h3 a { color: #262626; font-family: open sans; font-size: 22px; text-transform: uppercase; text-decoration:none;} .block4 { text-align: center; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }
.block4 h3 { color: #262626; font-family: open sans; font-size: 22px; text-transform: uppercase; margin-bottom: 30px; } .block4 h3 span { font-weight:300; }
.block4 p { color: #333; font-family: open sans; font-size: 14px; line-height: 25px; } .learn_block { border-bottom: 2px solid #e3e3e3; padding-bottom: 40px; padding-top: 12px; background:url('../images/bg_img.png') repeat-x;}
.watch_listen_coursing_one h3 { color: #262626; font-family: Open Sans; margin-top:0px; font-size: 28px; font-weight: 500; margin-bottom: 16px; text-align: center; text-transform: uppercase; }
.watch_listen_coursing_one span { font-weight: 300; }
.watch_listen_coursing_one p { color: #333; font-family: Open Sans; font-size: 18px; font-weight: 400; text-align: center; }
.imack { margin: 48px 0 0; } 
.mac iframe { height: 245px; margin: 20px 73px; width: 400px; }
.dump_text_added span { color: #333333; display: inline-block; font-family: Open Sans; font-size: 14px; font-weight: 600; line-height: 24px; margin-top: 11px; }
.dump_text_added p { color: #333333; font-family: Open Sans; font-size: 14px; font-weight: 400; line-height: 31px; margin: 25px 0 10px; }
.dump_text_added a.btn { background-color: #fff; border: 1px solid #158d8e; border-radius: 0; color: #158d8e; font-family: Open Sans; font-size: 14px; font-weight: 600; margin-top: 15px; outline: 0 none; padding: 14px 32px; }
.our_clients_section .post_only h3 { margin-bottom: 15px; margin-top: 0px; }
.our_clients_section span { font-weight: 300; }
.our_clients_section { margin-top: 35px; }
.our_clients_section p { color: #333; font-family: Open Sans; font-size: 18px; font-weight: 400; margin-bottom: 32px; text-align: center; }
.our_clients_section h3 { color: #262626; font-family: Open Sans; font-size: 28px; font-weight: 600; text-align: center; text-transform: uppercase; margin-bottom: 42px; }
.easier_course { display: table; float: none; left: 0; margin: 0 auto; position: absolute; right: 0; top: 61px; width: 100%; z-index: 55; }
.easier_course h2 { color: #fff; font-family: Roboto; font-size: 34px;  margin-bottom: 21px; text-align: center; }
.easier_course .caret { background: rgba(0, 0, 0, 0) url("../images/dropdownarrow.png") no-repeat scroll 0 0; border: medium none; height: 56px; position: absolute; right: 0; top: 2px; width: 50px; }
.seach_alone_courses .dropdown-menu.ul_width li a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; color: #8d8d8d; font-size: 16px; margin-bottom: 10px; padding: 0; }
.easier_course p { color: #fff; font-family: Roboto; font-size: 16px; font-weight: 300; margin-bottom: 26px; text-align: center; }
.seach_alone_courses { background: rgba(0, 0, 0, 0) url("../images/backgradient.png") repeat scroll 0 0; border: 1px solid #635145; border-radius: 10px; margin: 0 auto; padding: 22px 20px; width: 830px; }
.banner img { min-height: 450px; }
.seach_alone_courses .dropdown { background-color: #fff; border-radius: 10px; float: left; height: 59px; margin: 0px 2% 0px 0px; padding: 0; width: 33%; }
.easier_course .dropdown a { background: rgba(0, 0, 0, 0) url("../images/catg_btn.png") no-repeat scroll 15px 23px; color: #8d8d8d; display: inline-block; font-family: Open Sans; font-size: 20px; padding: 16px 30px 14px 45px; text-decoration: none; } 
 .user_profile .dropdown-menu { border: 1px solid #ccc; border-radius: 10px; box-shadow: none; margin: 0; padding: 10px 8px; width: 220px; }
 .easier_course h2 span { font-weight: 300; } .course_searching { float: left; position: relative; margin: 0px 0; width: 65%; } .banner { position: relative; }
.course_searching .btn.btn-primary { background: #fff url("../images/search_icon.png") no-repeat scroll 14px center; border-color: #8d8d8c #8d8d8c #8d8d8c -moz-use-text-color; border-image: none; border-radius: 0 10px 10px 0; border-style: solid solid solid none; border-width: 1px 1px 1px 0; float: left; height: 58px; padding: 0; width: 10%; }
.watch_listen_practice_section { margin-top: 15px; } .well_one p { width:270px;}	.demo_slides_one #owl-demo .item {padding: 5px 0; border: 1px solid #f1f1f1; }
.learn_remeber .btn.btn-primary { background-color: #753475; border: medium none; border-radius: 4px; font-family: Roboto; font-size: 18px; font-weight: 500; outline: 0 none; padding: 10px 24px; }
.learn_remeber { display: table; float: none; margin: 25px auto 0; }
 .course_searching .more_one_portiion { border: 1px solid #8d8d8d; border-radius: 8px 0 0 8px;  float: left; color: #8d8d8d; font-family: Open Sans; font-size: 20px; height: 58px; /*margin: 22px 0;*/ outline: 0 none; text-indent: 20px; width: 90%; }
 .watch_listen_practice_section { background: #f5f5f5;  padding: 35px 0; }

 /****************************************************************Tab**************************************************************************************/

.tab_block  ul.nav-tabs li a { color: #262626; font-family: open sans; text-decoration:none; font-size: 24px; text-transform:uppercase; border:none; }
.tab_block  ul.nav-tabs li { text-align:center; } .tab_block  ul.nav-tabs li.active a { color: #158d8e; /*padding-bottom:15px; border-bottom:1px solid #158d8e;*/ }
.tab_block ul li a span { font-weight:300; } .txt { color: #333333; font-family: open sans; font-size: 18px; margin-top: 28px; text-align: center; margin-bottom: 35px; }
.tab_block ul { border-bottom: medium none; } .tab_block { margin-top:28px; } .tab_block ul { margin-bottom: 0; }
.courses_block h4 a { color: #333333; font-family: open sans; font-size: 16px; text-decoration: none; text-transform: capitalize; }
.courses_block p.rate { color: #000; float: right; font-family: open sans; font-size: 16px; font-weight: 600; margin-bottom:0px; }  .tab_block ul { padding: 0; }
.course_b { border: 1px solid #e1e1e1; padding: 8px; margin-bottom: 30px; } .user-img-b { left: 15px; position: absolute; top: 25px; display:none; }
.img_hover:hover .user-img-b, .img_hover:hover .bg { display:block; } .img_hover .user-img-b img { width: auto; }
.user-img-b p { color: #fff; font-family: open sans; font-size: 13px; font-weight: 600; margin: 0; text-transform: capitalize; } .course_b .img_hover { position:relative; }
.course_b .bg { background-color: rgba(0, 0, 0, 0.5); position:absolute; width:100%; height:100%; left: 0px; right:0px; display:none; top:0px; }
.course_b img { text-align: center; width: 100%; } .detail_block .star_rating { float: left; }
.courses_block .course_b { box-shadow: 6px 3px 10px 1px #ddd; border:none; }
#example-one { position: relative; } #example-one li { display: inline-block;}
#magic-line {  position: absolute; bottom: -1px;  left:0px; right:0; margin:0 auto; width: 16%;  height: 1px;  background: #158d8e; }
.ie6 #example-one li, .ie7 #example-one li {  display: inline;  }
.ie6 #magic-line { bottom: -3px; }
.tab_block ul.nav-tabs li a, .tab_block ul.nav-tabs li.active a:hover, .tab_block ul.nav-tabs li a:hover { border:none!important; margin: 0; line-height:normal; border-radius:0px; }
#magic-line{margin:0}.tab_block ul li{position:static}.tab_block ul.nav-tabs li{padding:0 4.95%}.tab_block ul.nav-tabs{border-bottom:1px solid #ccc;margin:0;padding:0 14% 20px}
/*************************************************************************End************************************************************************************/

/********************************************************************Sidebar2*********************************************************************/
.sidebar_left .categories_block ul li span.category-name { display: block; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.sidebar_left .categories_block ul { padding: 0 10px; } .sidebar_left .categories_block { margin-bottom: 15px; }
/**********************************************************************End***********************************************************************/



/*******************************************************************Sidebar******************************************************/
.sidebar_block ul { list-style: outside none none; padding: 0; } .subblock { padding-top: 30px;  }
.course_info .container { /*border:1px solid #ddd; border-right:none; */} 
.sidebar_block ul li a { color: #919191; display: block; font-size: 14px; padding: 4px 15px; text-transform: capitalize; font-family: open sans; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.sidebar_block ul li span.r-arrow { display:none; height: 28px; position: absolute; right: -19px;  width: 20px; top: 0; background:url("../images/arrow-clr.png") no-repeat scroll right center;}
.sidebar_block ul li { position:relative; margin: 0 0 5px;}
.sidebar_block ul li.active span.r-arrow, .sidebar_block ul li:hover span.r-arrow { display:block; }
.sidebar_block ul li a:hover { background: #e59859; text-decoration:none; color:#fff; }
.course_info { background: #f5f5f5; padding-bottom: 20px; padding-top: 35px; }
.sidebar_block ul li h4 { color: #7f8689; font-size: 14px; padding:0 15px; font-weight: 700; margin: 18px 0 6px; font-family: open sans; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;} /*.course_info .col-sm-3 {  width: 17%; padding: 0;}*/
.course_info .sidebar_block { border: 1px solid #d8d8d8; border-radius: 5px; background: #fff; }
.course_info .block2 { background: #fff; border: 1px solid #d8d8d8; border-radius: 8px; }
.profile_block .sidebar_block { /*border-right:1px solid #ccc;*/  /*min-height: 720px;*/ }
.promo_block h2 { font-size: 22px; font-weight: 700; margin-top: 0; padding-top:15px; color: #555; text-align:center; font-family: open sans;}
.promo_block p { color: #555; font-size: 15px; font-weight: 300; line-height: 25px; margin: 0 0 2px; text-align: center; font-family: open sans; }
.promo_block a {  background:#158d8e; line-height:35px; text-align:center; color:#fff; display:table; padding:0 10px; margin:0 auto; border-radius:3px; font-family: open sans; font-weight: 700; text-decoration:none;}
.promo_block a:hover { background:#e59859; }
.lach_dev.course_sidebar .leftnopad span { color:#259596; text-transform: uppercase; }
/*.course_info .col-sm-9 { padding: 0; width: 83%;}*/ .promo_block { padding: 0 0 12px; /*border-bottom:1px solid #ddd; border-left: 1px solid #ddd; border-right:1px solid #ddd; border-top:1px solid #ddd;*/ }
.video_block {margin: 0 auto; width: 70%; } 

.video_block label { display: block; color: #526075; font-size: 13px; font-weight: 700; font-family: open sans; } .video_block p b { color:#444; font-size:14px; font-family: open sans; margin-top: 10px; display:block;}
.video_block p { font-size:13px; color:#444; font-family: open sans; } .block3 { border: 1px solid #a9a9a9; padding: 15px 20px; }
.fileUpload { position: relative; overflow: hidden; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); width: 100%; }
.fileUpload.btn.btn-primary span { font-size:14px; font-family: open sans;} .fileUpload.btn.btn-primary { background:#17aa1c;  border: medium none; padding: 5px 12px; border-radius: 3px; float: left; /*width:20%*/}
.format { /*background: #f8f7f0;*/ border: 1px solid #e1e1e1; height: 35px; position: relative; font-family: open sans; padding: 0;  /*float: left;*/ /*width: 78%;*/ margin-right:2% } .upload_type { margin-bottom: 13px; margin-top: 20px; }
.fileUpload.btn.btn-primary:hover{ background:#42943f; } .video_block .block3 a:hover { color:#428bca; }
.active a:focus { outline: medium none; text-decoration: none; }
.sidebar_block ul li.active a { background: #e59859; color: #fff; text-decoration: none; }
.mobile_menu .jumbotron, .mobile_menu .icon-close { display: none; } .block3 a { color: #428bca; }
.course_info.danger_zone .image_sec.subblock { padding-top: 0; }
/********************************************************************End********************************************************/
.video_b { display: table-cell; font-size: 18px; height: 250px; text-align: center; text-decoration: underline; vertical-align: middle; }
.text_block { border: 1px dotted; position: relative; } .video_b.video_upload { display:block; height: auto; } .tip p { font-size: 12px; }
.image_sec .tip b { font-family: open sans; font-size: 11px; font-weight: 600; } .image_sec .tip { margin-top: 12px; }
.upload_type .format_type { float: left; width: 72%; }  .button-block { float: left; width: 28%; }
.progress.progress-striped.progress_upload { height: 32px; left: 0; position: absolute; right: 0; border-radius: 0; }
.upload_type .fileUpload.btn.btn-primary { background: #428bca none repeat scroll 0 0; border-radius: 3px; width: 100%; padding: 0px 12px; line-height: 35px;}
.image_sec .fileUpload.btn.btn-primary span { display: block; font-size: 13px;  }
.image_sec input[type="submit"], .image_sec button { border-radius: 5px; border-color: #4cae4c; background: #5cb85c ;display: table; float: none; font-family: open sans; font-size: 14px;  padding: 6px 14px; }
.subblock .text_block a:hover { color:#335d82; }
.image_sec input[type="submit"]:hover, .image_sec button:hover { background-color: #47a447; border-color: #398439; } .image_container { display: block; height:300px; width: 100%; }
.tip a { color: #428bca; } .save_btn { margin: 0 auto 15px; } .upload_type .error_msg { background: #ff0000; color: #fff; }
#cropContainerPreload.image_container { border: 1px solid #ccc; height: 250px; overflow: hidden; position: relative; width: 100%; }
.text_block > a { display: block; font-size: 15px; padding: 0 12px; position: absolute; text-align: center; top: 45%; }
.video_change button { background: #f39c12 none repeat scroll 0 0; border: medium none; border-radius: 3px; padding: 6px 0; width: 100%; color:#fff; }
.video_b video { width: 100%; } .video_change { float: right; width: 20%; }
#image_prograss { color: darkturquoise; display: table; font-size: 20px; left: 0; margin: 0 auto; position: absolute; right: 0; text-transform: capitalize; top: 45%; z-index: 999; }
#video_prograss { font-size: 20px; text-transform: capitalize; color:#C30; text-align: center; position:absolute; left:0px; right:0px; }
.progress.progress-striped.progress_upload { height:100%; margin: 0; }
.btn.btn-color.save_btn { margin-top: 35px; } .format span { display: block; line-height: 32px; padding: 1px 10px; width: 100%; }
/*.profile_block .block2 { border-left:1px solid #ccc; }*/
.progress.progress-striped.progress_upload p { left: 10px; margin: 0; position: absolute; text-transform: capitalize; top: 7px; }
.video_b.video_upload #video_prograss { display:none; } .cropImgWrapper { width: 100% !important; } .format p { margin: 0; }
.change_btn button, .change_btn input[type="button"] { background: #f39c12 none repeat scroll 0 0; border: medium none; border-radius: 3px; color: #fff; padding: 7px 14px; width: 100%; }
.change_btn button, .change_btn input[type="button"]:hover { background: #f39c12!important; }
.change_btn br { display: none; } .video_b { padding: 5px 0; }
.profile_image { padding: 10px 0 0; text-align: center; } .profile_image img { border-radius: 80px; height: 150px; width: 150px; }
.profile_image h3 {
  border-bottom: 1px solid #d8d8d8;
  color: #353535;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 12px 0;
  text-transform: capitalize;
}
.change_btn.button_block .fileUpload.btn.btn-primary { width: 100%; } .button_footer .btn.btn-color { display: table; margin: 0 auto; }

/*************************************************************User/Account**********************************************/
.account_block { display: table; margin: 0 auto; width: 70%; }
.account_block .form-group input[type="password"] { border: 1px solid #a9a9a9; border-radius: 3px; box-shadow: none; min-height: 30px; width: 100%; }
.account_block .form-group { margin: 0 0 12px; } .email_edit i {float: right; font-size: 21px; } .email_edit p span { font-weight: bold; text-transform: lowercase; }
.page-content.account_block label { display: block; } .page-content.account_block textarea { width:100%; }
.email_edit p { font-family: open sans; font-size: 14px; margin: 0; text-transform: capitalize; } .email_edit { border: 1px solid #a8a8a8; padding: 10px 8px; }
.modal-dialog.edit_popup input[type="email"], .modal-dialog.edit_popup input[type="password"] { border: 1px solid #a8a8a8; min-height: 30px; text-indent: 10px; width: 100%; }
.modal-dialog.edit_popup h4 { font-family: open sans; text-transform: uppercase; } .edit_popup .modal-body { margin: 0 auto; padding: 6px 10px; }
.edit_popup .modal-footer { border: medium none; display: table; margin: 0 auto 10px; padding: 0; } .btn.btn-color:focus { outline:none; }
.btn.btn-color { background:#e59859; color: #fff; padding: 7px 20px; text-transform:capitalize; border-radius: 3px; border:none;}
.btn.btn-color:hover { background:#158d8e; }
.account_block .btn.btn-color { margin: 0 auto; } .edit_popup .alert-danger { border-radius: 0; margin: 0 0 8px; padding: 4px; background-color: #f2dede;
  border-color: #ebccd1; color: #a94442; } body.modal-open { padding-right: 17px; } .modal-dialog.edit_popup { width: 400px; top: 210px; }
.course_info p.alert.alert-danger { background-color: #f2dede; border-color: #ebccd1; color: #a94442;  border-radius: 0; margin: 3px 4% 5px; padding: 5px 6px; text-align: center; }
/*************************************************************End*******************************************************/


/**************************************************************User/Profile************************************************/
.page-content.account_block span.input-group-addon { border: 1px solid #a8a8a8; border-radius: 0; padding: 0 10px; border-left:none; }
.page-content.account_block input[type="text"], .page-content.account_block select { border: 1px solid #a8a8a8; min-height: 30px; text-indent: 10px; width: 100%; border-radius: 3px; }
.select select { padding: 5px 0; } .page-content.account_block .input-group input[type="text"] {border-radius: 0; height: 30px; padding: 0; }
.page-content.account_block .input-group { margin-bottom: 12px; } .page-content.account_block .input-group span.input-group-addon { border-left: 1px solid #a8a8a8; border-right: medium none; }
.course_info.profile .btn.btn-color { display: table; margin: 0 auto; } .account_block .input-group-addon { background: #ccc ; color: #555; font-family: open sans; font-size: 14px; }
/*.course_info.profile_block.profile .sidebar_block { min-height: 850px; }*/ .account_block .title { color: #555; font-family: open sans; /*font-size: 25px; margin-bottom: 18px;*/ }
.input-group #headline { border-right: medium none; } .course_info .input-group.head_line span.input-group-addon { border-right: 1px solid #a8a8a8; }
.course_info.profile .input-group input[type="text"] { border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
.course_info.profile .input-group.head_line input[type="text"], .course_info.profile .input-group span.input-group-addon { border-bottom-left-radius: 3px; border-top-left-radius: 3px; }
.course_info.profile.profile_block .input-group.head_line span.input-group-addon { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.course_info.profile .input-group.head_line input[type="text"] { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.course_info.profile.profile_block .input-group.head_line span.input-group-addon { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
/****************************************************************End*******************************************************/


/***********************************************************************User/Notification******************************************************/
ul li { list-style: none; } .section_notification .image_sec.subblock { border: 1px solid #ddd; margin-top: 15px; padding: 0 20px; }
.section_notification { display: table; margin: 0 auto; padding: 0 20px; } .section_notification ul { padding: 0; margin: 0; } .section_notification h4 { font-family: open sans; font-size: 16px; margin-top: 20px; }
.warning_note { border: 1px solid #ddd; margin-top: 20px; padding: 12px 20px; margin-bottom: 20px; } .section_notification .image_sec.subblock ul li { margin: 12px 0; }
.course_info .section_notification label { margin-bottom: 0; }
.warning_note label, .section_notification .image_sec.subblock ul li label { font-weight: 400; }
.section_notification ul li .icheckbox_square-green, .warning_note .icheckbox_square-green{ margin-right: 5px; }
/***************************************************************************End****************************************************************/

/************************************************************************User/Dangerzone******************************************************/
.remove_account { text-align: center; } .btn.alert-danger.save_btn { background: #f00; border: medium none; border-radius: 0; } .btn.alert-danger.save_btn:focus { outline:none; }
.confirm_account .modal-body p { font-family: open sans; font-size: 14px; padding-bottom: 0; margin:0px; text-transform: capitalize; }
.confirm_account .modal-footer { border: medium none; margin-top: 0;  padding-top: 0; } .modal-dialog.confirm_account h4 { font-family: open sans; text-transform: capitalize; }
.confirm_account .modal-footer button { padding: 5px 20px; margin-right:3px; } .modal-dialog.confirm_account { width: 400px; top:200px}
.course_info.danger_zone .sidebar_block { border-right: 1px solid #ddd; } .course_info.danger_zone .promo_block { border-left:none; }
/*.course_info.danger_zone .container { border-right: 1px solid #ddd; }*/ .course_info.danger_zone .promo_block { border-right:none; }
/***************************************************************************End**************************************************************/


/*************************************************************************Instructor********************************************************/
.premium_inst .promo_block ul li a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; color: #000; line-height: normal; padding: 0; }
.steps-bar { margin-top: 20px; padding-bottom: 30px; position: relative; text-align: center; }
.steps-bar ul { height: 44px; } .steps-bar li:first-child::before { display: none; }
.steps-bar li.on::before { background: #869f5b none repeat scroll 0 0; /*  margin: -15px 0 0 -105px;*/ /*  transform: rotate(45deg);*/ transform-origin: right top 0; }
.steps-bar li.off { background: #869f5b none repeat scroll 0 0; }
.steps-bar li::before { background: #6b6f77 none repeat scroll 0 0; content: ""; height: 10px; left: 0; margin: -5px 0 0 -114px; position: absolute; top: 50%; width: 115px; }
.steps-bar li.on::after { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; box-shadow: 0 0 0 7px #e4e4e4, 0 1px 1px rgba(0, 0, 0, 0.5) inset; }
.steps-bar li::after { background: #cecece url("../images/sprites.png") repeat scroll -56px -565px; border-radius: 99em; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); content: ""; height: 12px; left: 50%;
  margin: -6px 0 0 -6px; position: absolute; top: 50%; width: 12px; }
.steps-bar li:first-child { margin-left: 0; } .steps-bar li.on { background: #869f5b none repeat scroll 0 0; /*  transform: rotate(-45deg);*/ }
.steps-bar li { background: #6b6f77 none repeat scroll 0 0; border-radius: 99em; display: inline-block; height: 36px; margin-left: 108px; position: relative; text-align: center; width: 36px; }
.steps-bar li.on a, .steps-bar li.on span { color: #567c1b; /*  margin: -11px 0 0 -98px;*/ /*  transform: rotate(45deg);*/ }
.steps-bar li a, .steps-bar li span { color: #636b6f; font-weight: 700; left: 50%; margin-left: -70px; position: absolute; top: 50px; white-space: nowrap; width: 140px; }
.steps-bar li.off::before { background: #869f5b none repeat scroll 0 0; } .steps-bar li.off::after {  height: 26px; margin: -13px 0 0 -13px; width: 26px;}
.instructor_terms textarea { border: 1px solid #ddd; height: 300px; margin: 0 0 15px; padding: 0 8px; width: 100%; }
.image_container img {  max-width: none; }
.instructor_terms { display: table; margin: 0 auto 20px; padding: 0 20px; width: 70%; }
.instructor_terms label.conditions { font-family: open sans; font-size: 15px; font-weight: 400; } .instructor_terms label { font-family: open sans; font-size: 13px; color:#526075; }
.instructor_block { margin: 0 auto; width: 70%; } .instructor_block input[type="text"], .instructor_block input[type="email"] { border: 1px solid #a8a8a8;
  box-shadow: none; height: 30px; width: 100%; } .instructor_block .form-group { margin: 0 0 16px; }
  .instructor_block label { color: #555; font-family: open sans; font-size: 13px; text-transform: capitalize; } .instructor_block select  { border: 1px solid #a8a8a8;
  box-shadow: none; height: 30px; border-radius: 4px; width: 40%; }
  .update_account h2 { font-family: open sans; font-size: 20px; font-weight: 600; margin: 70px 0 30px; text-align: center; }
/*************************************************************************End***************************************************************/

/***************************************************************************Recent************************************************************/

.recent_block h3 { color: #000; font-family: open sans; font-size: 24px; text-transform: uppercase; margin: 0 0 42px; } .recent_block h3 span { font-weight: 300; margin-left: 4px; }
.recent_sub h4 a { color: #158d8e; font-family: open sans; text-decoration:none; } .recent_sub h4 { font-size: 16px; margin: 0; text-transform: capitalize; }
.recent_sub .desc { color: #4b4b4b; font-family: open sans; font-size: 13px; line-height: 22px; margin: 4px 0; }
.comments { color: #a7a7a7; font-family: open sans; font-size: 13px; } .desc span a { color: #158d8e; text-transform: capitalize; text-decoration:none; }
.user-img img { height: 80px; width: 80px; } .recent_sub { border-bottom: 1px dotted #d8d8d8; padding-bottom: 25px; margin-bottom: 20px;} .view_more { color: #158d8e; font-family: open sans; font-size: 13px;
  text-decoration: none; } .adv_block { display: table; margin: 0 auto; } .recent_block { background: #e8e8e8; /*margin-top: 20px;*/ margin-bottom: 0; padding-bottom: 30px; padding-top: 40px; }
  .recent_sub h4 a { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
  .recent_sub .comments { margin-bottom: 0; }
 
/*********************************************************************End***********************************************************/

/******************************************************************Courselist***********************************************************/
.categ_list .title_sec h4 { color: #353535; font-family: open sans; font-size: 16px; padding: 0 18px; font-weight: bold; margin: 18px 0; }
body.course-body { background: #f5f5f5 ; }
.course_detail p.description { height: 37px; overflow: hidden; }
body #page-wrapper-full.gray-bg { background: #f5f5f5; }
/*.categ_list .sidebar_left { border: 1px solid #d8d8d8; border-radius: 5px; padding: 0 5px; background: #fff;}*//* .categ_list .sidebar_left .mang_develop { padding: 0 20px; }*/

.sidebar_left .title_sec { border-bottom: 1px solid #d8d8d8; } .sidebar_left .title_sec:last-child { border-bottom:none; }
.course-list-section h2.list_title { color: #030404; font-family: open sans; font-size: 18px; float: left; font-weight: 600; margin: 14px 0; text-transform: uppercase; }
.categ_list .mang_develop li {  margin-bottom: 10px; } .course-list-section { padding-bottom: 12px;  border-bottom: 1px solid #d8d8d8; }
.view_block { float:right; margin-right: 80px; margin-bottom: 12px; } .view_block a { background: #e59859; border-radius: 4px; color: #fff; display: block; font-family: open sans; font-size: 13px; font-weight: bold; line-height: 37px;
padding: 0 10px; text-transform: uppercase; }
.block_course .course_detail h4 {  font-size: 14px; font-weight: 700; margin: 7px 0; text-transform: capitalize;  }
.block_course .course_detail h4 a { color: #333333; font-family: open sans; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;  }
.block_course .course_detail p { color: #4d4d4d; font-family: open sans; font-size: 13px;  } .block_course .course_detail p.rate { color: #000; padding-bottom: 0px;  min-height: 0; font-family: open sans; font-size: 16px; font-weight: 600; margin-bottom: 0; }
.block_course .image { text-align: center; } .block_course .item {  padding: 10px; } .block_course .ratings input[type="range"] { display: none; }
.block_course .owl-pagination { display: none; } .block_course { position: relative; } .block_course .owl-buttons { position: absolute; right: 0; top: -49px; }
.block_course .owl-theme .owl-controls .owl-buttons div.owl-prev { background: #158d8e url("../images/white_arrow.png") no-repeat scroll 9px center; border-radius: 3px 0 0 3px; margin: 0; opacity: 1;
padding: 10px 16px; text-indent: -9999px; } .view_block i { margin-left: 4px; }
.block_course .owl-theme .owl-controls .owl-buttons div.owl-next:hover, .block_course .owl-theme .owl-controls .owl-buttons div.owl-prev:hover { background-color:#1b7a7b; }
.block_course .owl-theme .owl-controls .owl-buttons div.owl-next { background: #158d8e url("../images/white_arrow.png") no-repeat scroll right -74% center; border-radius: 0px 3px 3px 0px; margin: 0; opacity: 1; padding: 10px 16px; text-indent: -9999px; border-left:1px solid #1f9fa0; } .block_course .owl-wrapper-outer { border-top: 1px solid #d8d8d8; padding-top: 18px; }
.course-list-section:last-child { border-bottom:none; } .develpoment_this_sec.categ_list { margin-top: 40px; }
.block_course { margin-bottom: 20px; } body { background: #f5f5f5; } .course-list-section .owl-carousel { clear:both; }
.image img { width: 100%; } .sidebar_left .mang_develop li span.category-count { float: right; margin-left: 8px;}
.course_detail p.description { height: 37px; overflow: hidden; } /*.block_course .image a { display: table-cell; height: 170px; vertical-align: middle; text-align:center; width:20%; }*/
.star_rating ul li img { height: 15px; width: 15px; } .star_rating ul { padding: 0; }
.block_course .item { box-shadow: 0 2px 5px 0 #aaaaaa; background: #fff; border-radius:0px; }
body.minimize-sidemenu #page-wrapper, body.minimize-sidemenu #page-wrapper-full { margin:0px; }
.trendieng .newest_coursing { margin-top: 0; }
.trendieng.search .course_detail  p.rate { min-height: 0; } .trendieng.search .course_detail p { margin-bottom: 10px; }
.trendieng.search .ratings { margin-bottom: 4px; }
.trendieng.search .course_detail p.descrip { height: 35px; overflow: hidden; }
.course-list-section .newest_coursing { margin-bottom: 25px; }
/*.course-list-section .block_course .item, .course-list-section .block_course .item { margin: 10px; }*/
.trendieng.search .business_trend .treaty_trick { margin: 20px 1%; }
.trendieng.search .business_trend .treaty_trick { box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2); }
.curriculam-block { margin-top: 30px; }
.create-course.instructors input[type="text"] { float: left; width: 80%; }
.create-course.instructors input[type="button"] { height: 38px; margin-left: 2%; width: 18%; }
.create-course.detail-block .form-group input[type="submit"] {
  margin-top: 35px;
}
/*********************************************************************End***********************************************************/

/********************************************************************************Mycourse************************************************************/
.mycourse_block h2.title{color:#333;font-family:open sans;font-size:25px;font-weight:600;margin:0;padding-bottom:0}
.categ_list .course-list-section .item .image img { background-size: cover; width: 100%; }
.course-list-section .item .image img,.mycourse_block .block_course .image a img{background-position:center center; background-size: cover; background-repeat:no-repeat;height:155px;width:194px;display:block}.categ_list .course-list-section .item .image img{width:100%}.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3{width:20%}.reg_form.new_reg_form.mycourse_block .block_course{padding:0}.mycourse_block .block_course .image a{height:auto}.mycourse_block .tab-block-mycourse{margin:10px 0 20px;padding-right:15px}.head_block{padding:10px 0}.mycourse_block .nav-tabs > li.active > a{border-bottom:medium none}.mycourse_block .nav.nav-tabs li{border-bottom:medium none}.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li{padding:0}.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li a{margin:0}.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li.active{border-bottom:medium none}.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li.active a:hover,.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li.active a{border-bottom:none}.mycourse_block .sidebar_left ul li a:hover{color:#f9a530}.mycourse_block .tab-block-mycourse ul li a{padding:0 20px}body #page-wrapper-full.gray-bg{padding-bottom:20px}.mycourse_block .tab-block-mycourse ul li{position:static}.course_popup .modal-header .close{background:#f00 none repeat scroll 0 0;border:medium none;border-radius:30px;height:30px;margin:0;opacity:1;position:absolute;right:-13px;top:-9px;width:30px}.course_popup .modal-header .close span{display:block;font-size:20px;margin-top:-3px}.modal-dialog.course_popup{border:medium none}.block_course .item{margin:5px}.mycourse_block .nav.nav-tabs.usernavbar.price_align.post li a:hover{border:none}.mycourse_block .nav-tabs{border-bottom:none}.head_block .TeachingCourse_create a{background:#e59859;border-radius:3px;color:#fff;font-size:14px;padding:5px 12px}.head_block .TeachingCourse_create{float:right;width:auto}.head_block h2.title{float:left}.mycourse_block .nav-tabs > li.active{border:none}.mycourse_block .nav-tabs > li > a{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;color:#f9a530;font-weight:400;font-size:25px}
.mycourse_block .nav-tabs > li > a:hover { background:none; color:#1ab394; font-weight:400; } .head_block .TeachingCourse_create a:hover { background:#158d8e; }
.mycourse_block .nav-tabs li { text-align:center; }
.course-my.breadcrumb { margin-top: 35px; }
.create-course.help-s .lach_dev.resp-tab-content.course_tab h3.title_block { color: #000; margin: 5px 0 15px; }
.create-course.help-s .details { color: #333; font-size: 14px; margin: 5px 0 15px; }
.reg_form.new_reg_form.mycourse_block .TeachingCourse_create p.discover_courses { margin: 0; padding: 0; }
.reg_form.new_reg_form.mycourse_block .head_block { padding: 0 15px; }
.reg_form.new_reg_form.mycourse_block .tab-block-mycourse { margin: 10px 15px 20px; padding: 0; }
.reg_form.new_reg_form.mycourse_block .select-section { float: right; } .reg_form.new_reg_form.mycourse_block .select-section select { margin:0px; }
/*********************************************************************************End**************************************************************/

/******************************************************************createcourse***********************************************************/
.course_sidebar h4.tabtitle {  font-size: 16px; padding: 0 12px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-family: open sans; color:#259596; font-weight:600; text-transform: uppercase; }
.create-course .block2 { background: #fff; border: 1px solid #d8d8d8; border-radius: 6px; }
.course_sidebar  .tabtitlemang.mang_develop li span { color: #919191; font-family: open sans; font-size: 14px; } .course_sidebar .multi_development h4 i { margin-right: 3px; }
.course_sidebar  .tabtitlemang.mang_develop li  { padding: 4px 0 4px 30px; margin:0px; position:relative; }
.course_sidebar .lach_dev_at { margin:0px; } .course_sidebar .tabtitlemang.mang_develop { padding:0px; }
.reg_form.new_reg_form.mycourse_block { margin-top: 30px; }
.tab-block-mycourse { border-bottom: 1px solid #ddd; }
.course_sidebar .tabtitlemang.mang_develop li a span { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.course_sidebar .tabtitlemang.mang_develop li:hover { background:#e59859;  } 
.course_sidebar .tabtitlemang.mang_develop li a span.r-arrow { background: rgba(0, 0, 0, 0) url("../images/arrow-clr.png") no-repeat scroll right center; display: none; height: 28px; position: absolute; right: -19px; top: 0; width: 19px; }
.course_sidebar  .tabtitlemang.mang_develop li:hover .r-arrow { display:block; }
.course_sidebar .tabtitlemang.mang_develop li:hover a span { color:#fff; }
.create-course .course_basic.course_newbasic p { font-size:13px; font-family:open sans; color:#848383; font-weight: 400; }
.create-course .course_basic.course_newbasic h4 { color: #333333; margin-top: 0; font-family: open sans; font-size: 30px; font-weight: 600; padding: 0; }
.create-course .lach_dev.resp-tab-content.course_tab .form-group label { font-family:open sans; font-size:14px; color:#333; margin-bottom:20px; padding-left:0px; }
.create-course .course_basic.course_newbasic  { margin-top: 12px; margin-bottom: 34px;}
.create-course .form-group input[type="text"], .create-course .form-group select { border: 1px solid #d9d9db; border-radius: 6px !important; font-size: 14px !important; height: 40px;}
 .create-course .form-group textarea { border: 1px solid #d9d9db; border-radius: 6px !important; font-size: 14px !important; }
.create-course .form-group { margin:0px 0 35px; }
.create-course .video_block { width: 80%; padding-bottom: 20px;  }
.create-course .image_sec.subblock.curriculam_upload .video_block { width: 65%; }

.create-course.detail-block .form-group input[type="text"] { float: left; width: 85%; } 
.create-course.detail-block .form-group input[type="button"] { height: 38px; margin-left: 2%; padding-bottom: 0; padding-top: 0; width: 13%; }
.create-course.detail-block .form-group .col-xs-12.text-a {  padding: 0; }
.create-course .lach_dev { margin-top:0px; } .create-course { margin-top:35px; }
.develpoment_this_sec.categ_list.mycourse_block .business_trend .col-xs-6.col-sm-3 { padding: 0 4px; }
.discover_courses { margin: 10px 0; padding: 5px 0; }
.block_course .feature.follow_b { background: #f00; border: medium none; color: #fff; left: 10px; padding: 4px 8px; position: absolute; text-transform: capitalize; top: 10px; }
.modal-open header.expert { padding-right: 17px; }
.block_course .business_office .btn.favoritebtn.heart_align { right: 5px; top: 3px; } 
.create-course.privacy .privacy_tabs.nav.nav-tabs.tab_public { margin-bottom: 2px; }
.create-course.privacy .tip_privacy { line-height: 23px; margin-top: 12px; }
.create-course.privacy .tab_ul li { float: left; margin-right: 10px; } .create-course.privacy .tab_ul { margin-bottom: 10px; }
.create-course.privacy .des_margin { margin-bottom: 20px; }
.not_publish { color: #f00; }
.publish_txt { color:#158d8e; }
.course-header.well .lead a.btn.btn-primary {
	background:#e59859; border:1px solid #e59859;
 
  border-radius: 3px;
  font-family: open sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  padding: 0 10px;
  text-transform: uppercase;
}
.mycourse_block .HomeScroll.tab-content #WishlistCourse {
  padding-top: 0;
}
.course-header.well .btn-block p.lead {
  float: right;
  margin-bottom: 0;
}
.well.course-header .btn-block {
  float: right;
  margin: 25px 0;
  width: auto;
}
.well.course-header {
  padding: 15px;
}

.well.course-header .btn-block .btn.btn-primary:hover {
   background: #158d8e none repeat scroll 0 0;
  border: 1px solid #158d8e;
}

.course-header.well .image img { background-size: cover; height: 150px; width: 200px; background-repeat:no-repeat;}
.course-header.well .detail h4 { font-family: open sans; font-size: 18px; font-weight: 600; color: #000; text-transform: capitalize; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.lach_dev.course_sidebar, .curriculam-block .lach_dev.resp-tab-content.course_tab { margin-top: 0; }
.well.course-header { margin-bottom: 30px; }
.lach_dev.course_sidebar ul.mang_develop li h4 span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.course-header.well .detail p { font-size: 14px; } .course-header { background:#fff; box-shadow: none; }
.course-header.well .detail {
  float: left;
  margin: 16px 0;
  width: 83%;
}
.well.course-header .image img {
  height: 90px;
  width: 100px;
}
.course-header.well .btn-block p.lead { float: right; }

/*********************************************************************End***************************************************************/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Profile@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section.user-profile-block .user-info h3 { font-family: open sans; font-size: 24px; margin: 25px 0 10px; text-transform: capitalize; color:#fff; font-weight: 400; }
section.user-profile-block .user-info p { font-family: open sans; font-size: 18px; margin-bottom: 28px; font-weight: 400; color:#fff;}
section.user-profile-block .user-info { background: #158d8e; margin-bottom: 30px; } section.user-profile-block { background: #f5f5f5; }
section.user-profile-block .msg {
  background: #e59859;
  color: #fff;
  display: table;
  font-family: open sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  margin: 25px auto 0;
  padding: 0 50px;
  text-align: center;
  text-transform: uppercase;
}
.user_image img {
  max-width: 100%;
}
.reg_form.new_reg_form.mycourse_block { padding: 0 15px; }
.social-b {
  padding: 0;
  margin-top:25px;
}
.social-b li {
  float: left;
  margin: 0 12px;
}
.content-right > ul {
  padding: 0;
}
.content-right h5 {
  color: #353535;
  font-family: open sans;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
.content-right .desc-1 {
  color: #333;
  font-family: open sans;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
}
.desc-2 li {
  color: #333;
  font-family: open sans;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.desc-3 {
  color: #333;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 25px 0 40px;
}
.student-course ul {
  padding: 0;
  margin: 0;
}
.desc-2 li span {
  font-weight: 400;
}
.student-course ul li {
  border-left: 1px solid #e3e3e3;
  float: left;
  padding: 0 20px;
  text-align: center;
}
.student-course ul li p {
  color: #333;
  font-family: open sans;
  font-size: 16px;
  text-transform: capitalize;
}
.content-section {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
.title-l {
  color: #158d8e;
  font-family: open sans;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  margin: 28px 0;
}
.student-course ul li h4 {
  color: #333;
  font-family: open sans;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}
.social-b li a {
  background: rgba(0, 0, 0, 0) url("../images/social-sprites.png") no-repeat scroll 0 0;
  display: block;
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}
.social-b li:first-child + li a { background-position: -52px 0; }
.social-b li:first-child + li + li  a { background-position: -102px 0; }
.social-b li:first-child + li + li + li a { background-position: -154px 0; }
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@End@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.create-course .danger-zone h4 {
  padding-left: 0;
}
.create-course.dangerzone .col_space p {
  font-family: open sans;
  font-size: 14px;
  text-align: center;
}
.create-course.dangerzone .danger-zone p { text-align:left; }
.danger-zone a.btn.btn-danger {
  background: #f00 none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  display: inline-block;
  margin-top: 15px;
  padding: 7px 20px;
}
.create-course.get-start .status-tabs-content h4 {
  padding: 0;
}
.create-course.get-start .GetStartedTitle {
  background: #e3e3e3 none repeat scroll 0 0;
  border: 1px solid #e3e3e3;
  font-size: 20px;
  padding: 12px;
  color:#000;
  font-weight: 400;
}
.create-course.get-start .slider_divsblocks .arr {
  border-top: 10px solid #000;
  margin: 8px 0;
}
.create-course.get-start .status-tabs-content { background:none; }
/************************************************************************Slider********************************************************/

.demo_slides_one .owl-carousel.clearfix.owl-theme { padding: 0; }
.demo_slides_one .owl-pagination { display: none; }
.demo_slides_one .bx-controls-direction .bx-prev { background: #e5e5e5 url("../images/prev.png") no-repeat scroll 17px center; border-radius: 0; margin-left: 0; opacity: 1; padding: 45px 25px; }
.demo_slides_one .bx-controls-direction .bx-next { background: #e5e5e5 url("../images/next.png") no-repeat scroll 24px center; border-radius: 0; margin-right: 0; opacity: 1; padding: 45px 25px; }
.demo_slides_one .bx-controls-direction .bx-prev:hover, .demo_slides_one .bx-controls-direction .bx-next:hover { background-color: #a6a6a6; }
.demo_slides_one .bx-pager.bx-default-pager { display: none; }
.demo_slides_one .bx-controls-direction .bx-prev { left: 0; top: 18px; position: absolute; } .demo_slides_one .bx-controls-direction .bx-next { right: 0; top: 18px; position: absolute; }
.demo_slides_one .bx-wrapper ul.bxslider li { border: 1px solid #f1f1f1; padding: 12px 0;} 
.demo_slides_one .bx-wrapper ul.bxslider li img { max-width: 100%; }
 .demo_slides_one { position: relative; margin-bottom: 42px; }
 .demo_slides #owl-demo .item { text-align: center; }

/************************************************************************End********************************************************/
@media(min-width:767px){
	.course-header.well .col-sm-3 {
  padding-right: 0;
  width: 116px;
}

}
@media(min-width:1210px){
	.container { width:1200px; }
}
@media(min-width:1200px){

.col-sm-9.trendieng.search {
  width: 77%;
}
.recent_sub .col-xs-9 {
  padding-left: 5px;
}
.user-profile-block .content-section .col-sm-9 {
  width: 79%;
}
.user-profile-block .content-section .col-sm-3 { width: 21%; }
	.well.course-header .col-md-9 {
 width: 89%;
}
.develpoment_this_sec.categ_list .col-sm-9.trendieng {
  width: 77%;
}
.recent_block .col-sm-4:first-child, .recent_block .col-sm-4:last-child { width: 36%; } .recent_block .col-sm-4:nth-child(2) { margin: 0 3%; width: 22%; }
.learn_block .col-sm-4 { margin-right: 3%; width: 31.333%; } .learn_block .col-sm-4:last-child { margin-right:0px; }
.watch_listen_practice_section .mac { background: rgba(0, 0, 0, 0) url("../images/lap.png") no-repeat scroll 0 0; height: 306px; padding: 0; width: 47%; }
.imack .dump_text_added { margin-left: 2.8%; padding: 0; width: 46%; } 
.demo_slides_one .owl-item { width: 2.93% !important;} 
/*.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 1170px; }*/
.demo_slides_one .bx-wrapper { margin: 0 auto; max-width: none !important; width: 1170px; }

 .demo_slides_one ul { padding: 0; }
.demo_slides_one .container { padding: 0; width: 100%; } .demo_slides #owl-demo .owl-wrapper-outer { margin: 0 auto; width: 850px; } .demo_slides_one .owl-carousel.owl-theme { padding: 0 20px; }
.categ_list .col-sm-3.multi_development { width: 22.555%; }
.block_course.clearfix{padding:0 7px}.course-list-section .block_course .item,.course-list-section .block_course .item{margin:5px 10px}
.courses_block .col-sm-4 { padding: 0 10px; }
body .tab_block ul.nav-tabs { padding: 0 6% 20px; }
body .tab_block ul.nav-tabs li { padding: 0 7%; }
}
@media(min-width:980px) and (max-width:1199px){
.categ_list .mang_develop li { position:relative; }
.course-header.well .detail { width: 50%; }
.sidebar_left .categories_block ul li span.category-name { width: 75%; }
.create-course.detail-block .text-a { overflow-x: scroll; }
.video_block { width: 530px; }  .profile_image img { height: 120px;  width: 120px; }
footer p, footer .footer_menu li a { font-size: 13px; } footer .footer_menu li { margin-left: 9px; }
.user-img img { height: auto; width: 100%; }
.course_detail > p { min-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.block_course .item .course_detail p.rate { margin-bottom: 10px; }
 .search_s, .expert .my_course { display: none; }
.home_menu.list-unstyled.list-inline.pull-right li a { padding: 0 10px; }
.tab_block ul.nav-tabs li a, .learn_block .block4 h3 a { font-size: 18px; }
.banner img { min-height: 450px; }
.detail_block h4 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.mac iframe { margin: 20px 0; width: 100%; }
.left_block { width: auto; }
.mycourse_block .block_course .image a img { width: 100%; }
.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3{width:25%}.trendieng.search .course_detail p.descrip{height:0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.course_detail p.description{height:auto}
.create-course.instructors input[type="text"] { float: left; width: 70%; }
.create-course.instructors input[type="button"] { height: 38px; margin-left: 2%; width: 28%; }
.course_sidebar .tabtitlemang.mang_develop li { padding: 4px 0 4px 15px; }
section.user-profile-block .msg {
  padding: 0 10px;
}
.social-b li {
  margin: 0 10px;
}
.forum_block .block3 .ans_block {
  display: block;
  width: 10%;
}
.demo_slides_one .bx-wrapper { margin: 0 auto;}
.services.editor_block .avatar_img .col-xs-10 {
  width: 89%;
}
}

@media(min-width:768px) and (max-width:979px){
	.forum_block .block3 .ans_block {
  display: block;
  width: 15%;
}
.course-header.well .detail {
  margin: 16px 10px;
}
	.forum_block .block3 .forum-b {
  width: 85%;
}
.course-header.well .detail { width: 50%; }
.services.editor_block .avatar_img .col-xs-10 {
  width: 88%;
}
.services.editor_block .desc-block p.desc-p {
  width: 85%;
}

.forum_block .add_forum_block ul li button { font-size:12px; }
.categ_list .mang_develop li { position:relative; }
.sidebar_left .categories_block ul li span.category-name { width: 75%; }

.tab_block ul.nav-tabs li{padding:0 2.7%}.course_detail p.description{height:auto}.develpoment_this_sec.categ_list.mycourse_block .business_trend .col-xs-6.col-sm-3{width:33%}.trendieng.search .course_detail p.descrip{height:0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.mycourse_block .block_course .image a img{width:100%}.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3{width:33%} .course_sidebar .tabtitlemang.mang_develop li { padding: 4px 0 4px 15px; }
.create-course.detail-block .text-a { overflow-x: scroll; }
.create-course.instructors input[type="text"] { float: left; width: 70%; }
.create-course.instructors input[type="button"] { height: 38px; margin-left: 2%; width: 28%; }
.left_block { width: auto; }
.video_block { width: 530px; } .profile_image img { height: 100px;  width: 100px; }
.block4 h3 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

footer #footer p { line-height: 30px; text-align: center; } footer #footer ul.footer_menu { display: table; float: none; margin: 0 auto; }
footer ul li a { line-height: 30px; } .instructor_terms { width: auto; }.user-img img { height: auto; width: 100%; }
.recent_block h3 { font-size:20px; } .course_detail > p { min-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.search_s, .expert .my_course { display: none; }
.home_menu.list-unstyled.list-inline.pull-right li a { padding: 0 10px; } .banner img { min-height: 450px; }
.tab_block ul.nav-tabs li a, .learn_block .block4 h3 a { font-size: 18px; } .detail_block h4 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.seach_alone_courses { padding: 22px 10px; width: 90%; } .mac iframe { margin: 20px 0; width: 100%; }
.seach_alone_courses .dropdown { width: 40%; }
.course_searching { width: 58%; }
.banner img { min-height: 0; } .easier_course h2, .easier_course p { display: none; }
.easier_course { top: 20px; }
.user-img-b { left: 8px; top: 2px; }
.user_image img {
  width: 100%;
}
.demo_slides_one .bx-wrapper { margin: 0 auto;}
section.user-profile-block .msg {
  padding: 0 10px;
}
.social-b li {
  margin: 0 4px;
}
}
@media(max-width:767px){
	.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3 {
  width: 33%;
}
.table-payment table th, .table-payment table td {
 padding: 0 5px;
}
.demo_slides_one .bx-wrapper { margin: 0 auto;}
.content-section .sidebar {
  text-align: center;
}
.services.editor_block .desc-block p.desc-p {
  width: 85%;
}
.services.editor_block .avatar_img .col-xs-10 {
  width: 100%;
}
	.forum_block .block3 .forum-b {
  float: none;
  width: 100%;
}
.forum_block .block3 .ans_block {
  float: right;
  margin-bottom: 10px;

}
.demo_slides_one .bx-controls-direction .bx-prev {
  background-position:12px center;

}
.demo_slides_one .bx-controls-direction .bx-next {
  background-position:18px center;

}
.demo_slides_one .bx-controls-direction .bx-next, .demo_slides_one .bx-controls-direction .bx-prev {
	  padding: 35px 20px;
	    top: 28px;
}

.title-l {
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
}
.social-b {
  display: table;
  margin: 25px auto 15px;
}
.student-course ul li {
  padding: 0 10px;

}
.student-course ul li h4 {
  font-size: 25px;
}
.course-header.well .detail {
  float: none;
  margin: 10px auto 0;
}
.well.course-header .btn-block {
  display: table;
  float: none;
  margin: 15px auto 0;
  width: auto;
}
.create-course.dangerzone .col_header {
  margin: 5px 0;
  padding: 24px 7px;
  text-align: center;
}
.create-course.dangerzone .slider_divsblocks {
  padding: 0 10px;
}
.create-course .course_basic.course_newbasic h4 { font-size: 20px; }

.course-header.well { text-align: center; }
.create-course.detail-block .text-a { overflow-x: scroll; }
.create-course.instructors input[type="text"] { float: left; width: 60%; }
.create-course.instructors input[type="button"] { height: 38px; margin-left: 2%; width: 38%; }
.trendieng.search .course_detail  p.descrip { height: 0px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; } 
.course_detail p.description {
  height: auto;
}
.head_block { padding: 10px 15px; }
.mycourse_block .block_course .image a img { width: 100%; }
.home_menu.list-unstyled.list-inline.pull-right li a {padding: 0 8px; }
.left_block { display: none; } .tab_block ul.nav-tabs li { padding: 0 5px; }
.tab_block ul.nav-tabs { display: table; margin: 0 auto !important; padding: 0; }
header.expert { position: static; }	body { padding-top: 0; }
.block4 p { margin-bottom: 25px; } .block4 h3 { margin-bottom: 10px; }
.learn_block { padding-bottom:20px; } .tab_block ul.nav-tabs li a { font-size: 16px;}
.tab_block ul.nav-tabs { border-bottom: 1px solid #ccc; margin: 0; }
.tab_block #magic-line { bottom: 0; } .txt { margin: 12px 0; }
.watch_listen_coursing_one h3 { font-size: 20px; line-height: 30px; } .imack { margin: 0; }
.seach_alone_courses { padding: 10px 10px; width: 90%; }
.demo_slides_one #owl-demo .item { text-align: center; } .our_clients_section p { font-size:16px; }
.seach_alone_courses .dropdown { display:none; } .mac iframe { margin: 20px 0; width: 100%; }
.banner img { min-height: 0; } .easier_course h2, .easier_course p { display: none; } .easier_course { top:20px; }
.dump_text_added { text-align: center; } .learn_remeber { margin: 10px auto 0; } .course_searching { width: 100%; }
.easier_course .dropdown a { background-position: 15px center; font-size: 15px; padding: 18px 37px; }
.course_searching .more_one_portiion { width: 90%; height:45px; }
.course_searching .btn.btn-primary { width: 10%; height:45px; }
.learn_remeber .btn.btn-primary { font-size: 16px; padding: 6px 15px; }
.watch_listen_practice_section { margin-top: 0; } .expert .logo, .expert .browse_block { float: none; }
.tab_block ul li { float: none; margin: 0 0 12px; }
.tab_block ul.nav-tabs li.active a { padding-bottom: 5px; } 
.browse_block, .search_s, .expert .my_course { display: none; }

.expert .navbar-header { float:none; display:block; }
.courses_block .col-sm-4 { float: left; width: 50%; }
.expert .logo { display: table; margin: 0 auto; text-align: center; }	
.home_menu.list-unstyled.list-inline.pull-right { display: table; float: none !important; margin: 0 auto; } 
.account_block { width: 100%; }	.email_edit { padding: 10px 5px; display: table; width: 100%; } 
.modal-dialog.edit_popup { margin: 0 auto; top: 20px; } .instructor_terms { width: auto; } .recent_block .recent_sub h4 { margin-top: 12px; }
.recent_block .recent_sub .col-xs-3 { padding-right: 0; width: 100px; }
.categ_list .sidebar_left { margin-bottom: 20px; } .block_course .item .course_detail p.rate { margin-bottom: 10px; }
.adv_block { display: none; } .recent_block h3 { margin: 25px 0; }
.steps-bar li::before, .steps-bar li::after { display: none; }
.block2 .steps-bar li { border-radius: 0; display: block; margin: 0; text-align: center; width: auto; height: auto; }
.steps-bar ul li span { border-bottom: 1px solid #fff; color: #fff; display: block; line-height: 30px; width: 100%; }
.block2 .steps-bar li.off { background: #ff8c20 none repeat scroll 0 0; } .steps-bar { padding:0px; } .premium_inst .promo_block { padding: 0 10px; }
.block2 .steps-bar ul { height: auto; padding: 0; } .course_info { height: auto; }
.steps-bar li a, .steps-bar li span { margin-left: 0; position:static;} .course_detail > p { min-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.modal-dialog.confirm_account {margin: 0 auto; top: 45px; }
	
footer #footer p {  text-align: center; } footer #footer ul.footer_menu { display: table; float: none; margin: 0 auto; }
footer p, footer .footer_menu li a { font-size: 13px; line-height: 30px; }
footer .footer_menu li { margin-left: 12px; }


.mobile_menu { display:block; } .course_info .col-sm-9 { padding: 0 15px; width: 100%; }
.course_info .video_block { width: 90%; } .navbar a.navbar-brand.site-logo { width:100%; }
.mobile_menu .jumbotron, .mobile_menu .icon-close { display:block;  } .course_info .col-sm-3 { width: 100%; }
.course_info { margin-top: 0; } .sidebar_block { border: medium none; }
/*.sidebar_block ul li a { color: #fff; padding: 0; } .sidebar_block ul li h4 { color: #fff; margin: 15px 0; padding: 0; }*/

/*.sidebar_block ul li a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; }*/

.sidebar_block ul li.active span.r-arrow, .sidebar_block ul li:hover span.r-arrow {
  display: none;
}
.course_info .sidebar_block {
  margin-bottom: 30px;
}
.open_sidebar { overflow:hidden; } body.open_sidebar { left: 0; margin: 0; position: relative; }
.mobile_menu .icon-menu { border-bottom: 1px solid #ddd; padding: 15px; }  
.image_container { display: block; height: auto; vertical-align: unset; width: auto; }
.format { float: none; height:auto; } .course_info .video_block { padding: 0 10px; }
.profile_block .block2 { border-left: medium none; }
.progress.progress-striped.progress_upload { float: none; margin: 0; position: static; width: 100%; height: 30px; }
.video_change { float: none; margin: 0 auto; } 
.btn.btn-color.save_btn { margin-top: 0; }

.mobile_menu .menu { background:#138a85 repeat left top; left: -285px; overflow-y: auto; height: 100%; position: fixed; width: 285px; top: 0; }
.mobile_menu .jumbotron { padding:0px; margin:0px; }
.mobile_menu .menu ul {  list-style: none; margin: 0; padding: 0; }
.mobile_menu .menu li {  font-family: 'Open Sans', sans-serif; line-height: 45px; padding-bottom: 3px; padding-left: 20px; padding-top: 3px; }
.mobile_menu .menu a { color: #afdefa; font-size: 15px; text-decoration: none; text-transform: uppercase; }
.mobile_menu .icon-close { cursor: pointer; padding-left: 20px; padding-top: 10px; color: #afdefa; }
.mobile_menu .icon-close a { cursor : pointer; color: #afdefa; font-family: 'Open Sans', sans-serif; line-height: 45px; padding-bottom: 3px; padding-left: 5px; padding-top: 3px; }
.mobile_menu .icon-menu { color: #555; cursor: pointer; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-bottom: 25px; padding-left: 25px; padding-top: 25px; text-decoration: none;text-transform: uppercase; }
.mobile_menu .icon-menu i { margin-right: 5px; }
/*.sidebar_block ul li.active a { padding: 0 19px; } .sidebar_block ul li.active { padding: 0; } .sidebar_block ul li.active a:hover { background: #798eab; }*/
.course_info .jumbotron .icon-menu::before, .course_info .icon-close::before { content: none; }
.fileUpload.btn.btn-primary span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.profile_block.notification_block .btn.btn-color.save_btn { margin-top: 20px; }

.col-sm-4.submit_block { display: none; } .paypal_popup .btn.btn-color { width:100%; } .modal-dialog.paypal_popup .expiry-wrapper .col-sm-4 { width: 50%; }
.modal-dialog.paypal_popup .form-group label { margin: 0 0 5px; } .modal-dialog.paypal_popup .btn.btn-color { font-size:13px; }
.modal-dialog.paypal_popup .modal-body.cont ul li { text-align: center;  width: 100%; } .modal-dialog.paypal_popup .modal-body.cont ul li.active a { border: 1px solid; color: #e59859; }
}
@media(max-width:480px){
.create-course.instructors input[type="text"] { float: none; margin-bottom: 10px; width: 100%; }
.create-course.instructors input[type="button"] { height: 38px; margin-left: 0; width: 100%; }
.tab_block ul.nav-tabs li a { font-size: 18px; }
.course_info .video_block { width: 100%; } .block3 { border: medium none; padding: 0; } .easier_course { top:10px; }
.promo_block p { ine-height: 22px; margin: 0 0 12px; } .learn_remeber { display:none; }
.course_searching .more_one_portiion { width: 85%; height: 45px; }
.course_searching .btn.btn-primary { width: 15%; height: 45px; background-position:10px center; }
.courses_block .col-sm-4 { float: none; width: 250px; margin:0 auto; }
.modal-dialog.confirm_account, .modal-dialog.edit_popup { margin: 0; top: 20px; width: 100%; }
.upload_type .format_type { float: none; width: 100%; } .button-block { display: table; float: none; margin: 10px auto ; width: auto; }
.upload_type { margin-bottom: 0; } .instructor_block { display: block; width: auto; } .instructor_block select { width:100%; }
.recent_block { text-align:center; }
.recent_block .recent_sub .col-xs-3, .recent_block .recent_sub .col-xs-9 { float: none; margin: 0 auto; padding: 15px; width: 100%; }
.tab_block ul#example-one.nav-tabs li { display: block; float: none; padding: 0 5px; }
.tab_block ul.nav-tabs { display: block; margin: 0 auto; }
#magic-line { display: none; }
header.expert .col-sm-5.col-xs-7, header.expert .col-xs-5.col-sm-7 { width: 100%; }
.expert .logo img { padding: 10px 0; }
.home_menu.list-unstyled.list-inline.pull-right li a { line-height:35px; padding: 0 8px; }
/*.reg_form.new_reg_form.mycourse_block .col-xs-6 { float: none; margin: 0 auto; width: 250px; }*/
.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3 {
  width: 50%;
}
.demo_slides_one .bx-controls-direction {
  display: none;
}
.create-course.detail-block .form-group input[type="text"] {
  float: none;
  margin-bottom: 10px;
  width: 100%;
}
.create-course.detail-block .form-group input[type="button"] {
  width: 100%;
  float:none;
}
.reg_form.new_reg_form.mycourse_block .nav.nav-tabs.usernavbar.price_align.post a {
  font-size: 16px;
}
}
@media(max-width:320px){
	.reg_form.new_reg_form.mycourse_block .nav.nav-tabs.usernavbar.price_align.post a { font-size: 16px; padding: 0 14px; }
.reg_form.new_reg_form.mycourse_block .col-xs-6.col-sm-3 {
  float: none;
  margin: 0 auto;
  width: 250px;
}
.develpoment_this_sec.categ_list.mycourse_block .business_trend .col-xs-6.col-sm-3 {
  float: none;
  margin: 0 auto;
  width: 250px;
}

}


/*******************************************************************PayPal/PopUp***********************************************/
.modal-dialog.paypal_popup { border: medium none; }
.modal-dialog.paypal_popup .modal-header.header_bg h2 { font-family: open sans; font-size: 20px; margin: 0 0 0 16px; text-align: left; text-transform: capitalize; color: #fff; } 
.paypal_popup .modal-header.header_bg { padding: 15px 0; background:#158d8e;}
.paypal_popup .modal-header .close { background:none; border: medium none; color: #ffffff; margin: 0 10px 0 0; opacity: 1; width: auto; }
.modal-dialog.paypal_popup .form-group { display: inline-block; margin: 0 0 8px; width: 100%; }
.modal-dialog.paypal_popup label .asterix { color: #f00; }
.select-style_block { padding: 0; margin: 0; border: 1px solid #ccc; width: 100%; border-radius: 3px; overflow: hidden; background-color: #fff; background: #fff url("../images/gray_arrow.png") no-repeat scroll right 4% center;
} .select-style_block select { padding: 5px 8px; width: 100%; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none;
appearance: none; } .select-style_block select:focus { outline: none; }
.paypal_popup .btn.btn-color { background: #e59859 none repeat scroll 0 0; border-radius: 2px; color: #fff; font-family: open sans; font-size: 15px; font-weight: 600; margin-top: 4px; padding: 7px 0;
text-transform: uppercase; width: 70%; } 
.paypal_popup .select-style_block select { font-size: 14px !important; height: 40px; padding: 5px 5px; color: #888; }
.expiry-wrapper .col-sm-4 { width: 20%; } .modal-dialog.paypal_popup .form-group input[type="text"] { border: 1px solid #ccc; color: #888; border-radius: 3px !important; font-size: 14px !important; height: 40px; }
.modal-dialog.paypal_popup p.terms_service { color: #777; font-family: open sans; font-size: 13px; font-weight: 600;  } .modal-dialog.paypal_popup p.terms_service a { color:#158d8e; }
.paypal_popup .course_title, .paypal_popup .dollar.dollar_font > p { font-family: open sans; font-size: 16px; font-weight: 600; margin: 0; text-transform: capitalize; }
.paypal_popup .form-group label { color: #000; font-family: open sans; font-size: 14px; margin: 10px 0; } .paypal_popup #stripe > form { margin-bottom: 2px; }
.paypal_popup .modal-body { display:table; }
.paypal_popup .modal-body.cont ul li.active a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 1px solid #ccc; color: #888; text-transform: capitalize; border-bottom:none; }
.paypal_popup .modal-body.cont ul li a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; padding: 5px 15px; font-family: open sans; font-size: 14px; line-height: 25px; margin:0px; color:#888; }
.paypal_popup .modal-body.cont ul li a:focus { outline:none; text-decoration:none; }
.paypal_popup .modal-body.cont ul li.active { background: #fff none repeat scroll 0 0; position: relative; top: 0; }
.modal-dialog.paypal_popup .nav.nav-tabs { margin-bottom: 15px; margin-top: 10px; } .dollar.dollar_font p { text-align: right; }
.redeem a {  color: #e59859; font-family: open sans; font-size: 14px; font-weight: bold;  text-transform: capitalize; }
.redeem { border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom:8px; } .paypal_popup .hide_block input[type="text"] { border: 1px solid #ccc; border-radius: 3px !important; box-shadow: none; font-size: 12px !important;
width: 98%; } .modal-dialog.paypal_popup .course-ti.form-group { margin-bottom: 0; } .course-ti.form-group .col-xs-4 { padding-left: 0; }
.hide_block .btn.btn-success { background:#e59859; border-radius: 3px; line-height: 28px; padding: 0 10px; border:1px solid #e59859; }
.hide_block { margin: 10px 0; padding: 0 2.5% 0 0; } .expiry-wrapper .select-style_block { background-position: right 15% center; }

/********************************************************************End******************************************************/

/********************************************************************************Blog************************************************************/
.block-widget .categories_block ul { padding: 0 15px; }
.block-widget .categories_block ul li a:hover { background:none;}
.block-widget .categories_block ul li a { padding:0px;} .block-widget .categories_block .label.label-success.pull-right { background: #e59859; }
.blog-post h3 { color: #2f3945; font-family: open sans; font-size: 20px; margin-bottom: 20px; margin-top: 0; }
.blog-post .summary p, .blog-post .summary p span { font-family: open sans; font-size: 14px; margin-bottom: 20px; color: #2f3945; line-height:27px; }
.blog-post .blog-info-small { margin: 10px 0; } .blog-post .blog-info-small i { margin: 0 3px; color: #2f3945; }
.total-cmt h3.comments-b { color: #2f3945; font-family: open sans; font-size: 20px; }
.comment-list blockquote {  border-left: 3px solid #e59859; margin: 12px 0; padding: 7px 10px; } .comment-list { margin-bottom: 20px; }
.expert-plus .blog_view .wrapper-header { padding: 0; } .blog_view h3 { margin-top: 0; font-family: open sans; font-size: 25px; }
.blog_view h3 small { color: #888; font-family: open sans; font-size: 15px; margin-left: 2px; }
.blog_view .breadcrumb_block ul li a { color: #e59859; font-family: open sans; font-size: 14px; }
.blog_view .breadcrumb_block ul li { float: left; }
.blog_view .breadcrumb_block ul { float: none; margin: 0; padding: 0; }
.blog_view .breadcrumb_block { margin: 0; }
.blog-img img { height: 200px; max-width: 100%; }
.text-b textarea:focus, .text-b textarea { border: 1px solid #dedede; border-radius: 0; padding: 5px 0; text-indent: 10px; }
.text-b label { font-family: open sans; font-size: 14px; font-weight: 600; }
.post-item .title h3 a {color: #353535; font-family: open sans; text-decoration: none; }
.blog_view.catg_blog .blog-post { margin-bottom: 25px; } .block-widget .categories_block ul li a:focus { background:none; }
.blog-post .blog-info-small a { color: #333; font-family: open sans; font-size: 13px; }
.blog_view.catg_blog .summary a i { font-size: 16px; margin-left: 2px; }
.text-b label { color: #353535; font-family: open sans; font-size: 13px; font-weight: 600; }
.blog_view { margin-bottom: 25px;}
body.blog .expert-plus { margin-bottom: 40px; } .form-group.btn-s { margin-bottom: 0; }
.blog_view.catg_blog .post-item .title h3 a {
  font-size: 15px;
  font-weight: 600;
}

/*******************************************************************************End*************************************************************/

.categ {
  display: none;
}
@media(max-width:767px){
.categ .jumbotron{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border-radius:0;display:table;left:5px;position:absolute;top:15px}.categ{display:block}body header.expert{position:relative}.categ .jumbotron .icon-menu{padding:5px 0}.categ .mobile_menu .menu{z-index:999;background:#2f4050;}.categ .jumbotron .icon-menu::before{content:none}.categ .mobile_menu .icon-menu i{color:#f58e4e;font-size:20px}.categ .mobile_menu .icon-menu{border-bottom:medium none}.categ .mobile_menu .menu li{line-height: normal;}.categ .mobile_menu .icon-close,.categ .mobile_menu .icon-close a,.categ .mobile_menu .menu a{color:#fff}
.categ .mobile_menu .menu a { text-transform: capitalize; }
.categ .sidebar_block h3 { color: #fff; font-size: 20px; margin-top: 3px; padding-left: 15px; text-align: left; border-bottom: 1px solid rgba(255, 255, 255, 0.05); padding-bottom: 10px;}
.categ .mobile_menu .icon-close { color: #f00; }
}
@media(max-width:480px){
	.categ .jumbotron {
  left: 20px;   top: 10px;
	}
}

.course_b .img_hover img {
  max-width: 100%;
  width: auto;
}

.course_b .img_hover img {
  background-size: cover;
 height: 218px;
  width: 255px;
}
.img_hover .user-img-b img {
  height: auto;
  width: auto;
}


@media(max-width:1200px){
	.course_b .img_hover img {
  height:210px;
  width: 100%;
  max-width: 100%;
}
.tab-content .course_b .user-img-b img { height:auto; width:auto; }
.user-profile-block .course_b .user-img-b img { height:auto; }

}


@media(min-width:1200px){
.courses_block .col-sm-4 {
  margin: 0 16px;
  padding: 0;
  width: 22.3%;
}
.tab-content .course_b .user-img-b img { height:auto; width:auto; }
}

/*****************************************************************************PriceBlock**********************************************/
.coupon-s a,.coupon-s p{font-family:open sans;font-size:14px}.coupon-s a,.coupon-s h3,.coupon-s p,.price-b .table>thead>tr>th{font-family:open sans}.price-b .tips.btn.btn-sm.btn-white{background:red;color:#fff;margin-bottom:10px}.price-b{padding:0 10px 15px}.tips.btn.btn-xs.btn-white.edit-icon{background:#e59859;border:none;padding:2px 6px}.tips.btn.btn-xs.btn-white.edit-icon i{color:#fff}.price-b .table{margin-bottom:0;border:1px solid #e7eaec}.price-b .table-responsive table td,.table-responsive table th{vertical-align:middle!important}.coupon-s a{background:#158d8e;border:1px solid #158d8e;margin:10px 0}.coupon-s h3{color:#353535;font-size:19px;text-align:center}.coupon-s{margin-bottom:10px;text-align:center}.price-b .table-responsive table td{border-right:1px solid #e7eaec;font-family:open sans;font-size:13px;height:40px}.price-b .table-responsive,.price-b .table-responsive table td:last-child,.price-b .table-responsive table.table th:last-child{border:none}.price-b .table>thead>tr>th{background:#e59859;border-bottom:medium none;border-right:1px solid;color:#fff;font-size:14px;font-weight:400;height:35px}.paypal_popup .form-group label{display:table}.paypal_popup .coupon_code{color:#555;display:block;margin:10px 0}


/********************************************************************************End**************************************************/
.empty-block{margin-top:25px;text-align:center}ul.pagination{margin:0;padding-right:10px}.develpoment_this_sec.categ_list.mycourse_block .trendieng.search .leak_coursing{margin-bottom:0}.pagination li.active span,.pagination li.active span:hover,.pagination li:hover a{background:#e59859;color:#fff}.pagination li a,.pagination li span{padding:8px 12px}.credit-history table.table td{font-family:open sans;font-size:14px;height:40px;vertical-align:middle;border-right:1px solid #e7eaec}.credit-history table.table th{background:#e59859;color:#fff;font-size:14px;font-weight:600;height:35px;vertical-align:middle;border-right:1px solid #fff;font-family:open sans}.credit-history table.table td:last-child,.credit-history table.table th:last-child{border:none}.credit-history table.table{border:1px solid #e7eaec}.credit-history table.table tr:nth-child(even){background:#f1f1f1}.credit-history .pagination{float:right;padding-right:0}.credit-history h2{color:#333;float:left;font-family:open sans;font-size:20px;font-weight:600;margin:0}.credit-history .right-block{float:right}.credit-history{margin-top:45px}.head-block{margin-bottom:15px}.credit-history .right-block a:hover,.right-block button.btn.btn-info:hover{background:#158d8e;border:none}.right-block button.btn.btn-info{margin-right:4px}.credit-history .right-block a,.right-block button.btn.btn-info{background:#e59859;border:none}.table-block{overflow-x:auto}
/********************************************************************************Forum**************************************************/
.editor_block .breadcrumb_block ul li, section.forum_block .breadcrumb_block ul li { float: left; }
.editor_block .breadcrumb_block ul li a, section.forum_block .breadcrumb_block ul li a { color: #e59859; font-family: open sans; font-size: 14px; }
.editor_block .breadcrumb_block ul, section.forum_block .breadcrumb_block ul { margin: 0; padding: 0; }
.editor_block .breadcrumb_block,.forum_block .breadcrumb_block { display: inline-block; margin-bottom: 4px; }



.ans_block p.count,.categories_block h4,.forum-b p.forum_topic a{font-family:open sans;font-weight:700}
.categories_block ul li a,.forum-b p.forum_topic a{overflow:hidden;text-decoration:none;text-overflow:ellipsis;white-space:nowrap}
section.forum_block .block3{border:none;padding:0} .forum-b p.forum_topic a{color:#2f3945;display:block;font-size:16px}
.block3 .forum-b{float:left;width:90%} .block3 .ans_block{background:#eda100;display:table;float:right;padding:5px 6px;text-align:center}
.ans_block p.count{color:#fff;font-size:24px;margin:0} section.services.editor_block{padding-top:0}
section.services.editor_block .col-sm-9 h3{font-family:open sans;font-size:20px;margin-bottom:15px;margin-top:0;color:#2f3945}
section.services.editor_block .col-sm-9 h4{color:#2f3945;font-size:15px;text-transform:capitalize}
section.services.editor_block .avatar_img .col-xs-2{padding-right:0;width:67px} .avatar_img .col-xs-10{width:92%}
section.services.editor_block .content-b{color:#333;font-family:open sans;font-size:13px;text-transform:capitalize; margin-bottom: 20px;}
section.services.editor_block .desc-block{background:#dedede;border-radius:0;padding:2px 12px}
.avatar_img .user-name{display:block;font-family:open sans;font-size:14px;margin-bottom:5px;text-transform:capitalize} .desc-block{margin:2px 0}
section.services.editor_block .avatar_img{margin-bottom:30px} .desc-block p.desc-p{float:left;width:90%;margin:0}
section.services.editor_block .redactor_box{height:250px;margin-bottom:20px} body.home{background:#fff}
.ans_block p.ans{color:#fff;font-family:open sans;font-size:15px;margin:0;text-transform:lowercase} .created-block{background:#dedede;padding:10px 15px}
section.forum_block h3.title{border-bottom:1px solid #dedede;margin-bottom:25px;padding-bottom:14px;margin-top:0}
.categories_block h4{background:#e59859;color:#fff;font-size:16px;padding:14px 10px;margin:0 0 20px} .categories_block ul li a,.created-block p.created{font-family:open sans;font-size:13px;color:#636363}
.categories_block ul li a{display:block}.categories_block ul li{margin-bottom:14px}
.categories_block ul{padding:0 20px}.categories_block{border:1px solid #e3e3e3;padding:5px;background:#fff;border-radius:3px}
.created-block p.created{float:left;margin:0}.breadcrumb_block{margin-bottom:12px;padding:0}
.breadcrumb_block i{margin:0 5px}.breadcrumb_block span a{color:#e59859;font-size:13px;font-family:open sans}
.breadcrumb_block span{font-size:13px;font-family:open sans;color:#636363}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{background-color:#fff;border-color:#ddd;color:#999;cursor:not-allowed}.pagination>li>a,.pagination>li>span{background-color:#fff;border:1px solid #ddd;color:inherit}
section.forum_block{margin-bottom:25px} .blog_editblocks{float:right}
.expert-plus{margin-top:40px}.categories_block ul li a i{margin-right:5px}.blog_editblocks a{background:0 0;border:none;margin-left:12px;padding:0}
.blog_editblocks a:hover{background:0 0}.blog_editblocks a i{color:#636363;font-size:18px}.subblock_forum{margin-bottom:30px}
.forum_topic{margin-bottom:20px}.add_forum_block ul li.add_forum button:hover{background:#158d8e}.add_forum_block ul li.add_forum button,.add_forum_block ul li.disable_forum button:hover{background:#e59859}.forum-b .description{font-family:open sans;font-size:14px;margin-bottom:20px}.add_forum_block ul{padding:0}.add_forum_block ul li.disable_forum button{background:#158d8e}.add_forum_block ul li{margin-top:10px}.add_forum_block ul li button{border:none;border-radius:3px;font-family:open sans;font-size:16px;font-weight:600;padding:14px 0;width:100%;text-transform:uppercase}
.forum_block .pagination{float:right;padding:0}.modal-dialog.add_forum .form-group input[type=text],.modal-dialog.add_forum .form-group select,.modal-dialog.add_forum .form-group textarea{border:1px solid #ddd;border-radius:0;box-shadow:none;height:30px;width:100%}
.modal-dialog.add_forum .form-group label{padding-top:0}.modal-dialog.add_forum .form-group{margin:0 0 12px}.add_forum .asterix{color:red}
.modal-dialog.add_forum .form-group textarea{height:120px}
.modal-dialog.add_forum .form-group input[type="text"], .modal-dialog.add_forum .form-group select, .modal-dialog.add_forum .form-group textarea { padding: 0; }
.forum-b p.forum_topic a, .forum-b .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; display:block;
}
.avatar_img .descr-p {
  color: #333;
  font-family: open sans;
  font-size: 13px;
  line-height: 24px;
  word-wrap: break-word;
}
.block5 {
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;
  padding: 15px 0;
}
.avatar_img .catg-name {
  margin-left: 12px;
}
section.services.editor_block .desc-block { margin-top: 15px; padding: 10px 12px; }
.editor_block .forum-topic { font-family: open sans; font-weight: 700; margin-bottom: 20px; }
section.services.editor_block .avatar_img { margin-bottom: 10px; }
.editor_page label { color: #333; font-size: 13px; font-weight: bold; margin-bottom: 18px; }
/************************************************************************End************************************************************/


/********************************************************************payment form******************************************************/
.table-payment table th {
  background: #e59859;
  border-right: 1px solid #fff;
  color: #fff;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  padding: 0 15px;
  text-transform: capitalize;
  vertical-align: middle;
}
.table-payment .alert.alert-danger {
  background: #f2dede none repeat scroll 0 0;
  border: medium none #ebccd1;
  color: #a94442;
  padding: 10px 7px;
}

.table-payment table td {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  font-family: open sans;
  font-size: 14px;
  height: 40px;
  padding: 0 15px;
  text-transform: capitalize;
  vertical-align: middle;
}
.table-payment table {
  border: 1px solid #dedede;
}
.table-payment {
  margin-top: 30px;
}


.payment-block{border:1px solid #ddd;border-radius:3px;margin: 15px auto 45px;padding:20px 25px;width:80%;background:#fff}.confirm-section .form-group{margin:15px 0}.confirm-section h2{font-family:open sans;font-size:20px;font-weight:600;text-transform:capitalize}.course-ti .title_section{float:left}.course-ti .title_section h4,.dollar.dollar_font p{text-transform:capitalize;font-family:open sans;font-size:16px;font-weight:600;margin:0}.payment-block .redeem{font-size:16px;margin:7px 0 12px}.payment-block .hide_block{margin:10px 0 20px;padding:0}.payment-block input[type=text]{border:1px solid #ddd;border-radius:0;height:35px;padding:0;text-indent:10px}.payment-block .nav.nav-tabs li a{background:#ddd;color:#333;font-family:open sans;font-size:14px}.payment-block .nav.nav-tabs{margin:20px auto 30px;display:table}.payment-block .nav.nav-tabs li.active a{background:#ff8c20;color:#fff}.payment-block .hide_block .btn.btn-success{line-height:33px;padding:0 10px}.payment-block .hide_block input[type=text]{border:1px solid #ddd;border-radius:0;box-shadow:none;height:35px}.payment-block .dollar.dollar_font{float:right}.payment-block span.asterix{color:red}.payment-block .alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#a94442}.payment-block .alert{border:1px solid transparent;border-radius:2px;margin-bottom:20px;padding:5px 7px;text-transform:capitalize}

@media(max-width:767px){
.payment-block{width:100%}.payment-block .nav.nav-tabs li{float:none;width:100%}.forum_block .pagination{float:none;margin-bottom:10px}.payment-block .expiry-wrapper .col-sm-4{width:50%}.payment-block .nav.nav-tabs li a{padding:10px 4px}.payment-block{padding:10px 5px}.services.editor_block .avatar_img .user-name{margin:10px 0}.enable_chk.col-xs-4{padding-right:0;width:71px}.payment-block .nav.nav-tabs{display:block}.payment-block input[type=submit]{display:table;margin:0 auto}
}
@media(max-width:480px){
.payment-block .nav.nav-tabs li a{text-align:center}.head_block h2.title{float:none;margin-bottom:10px;text-align:center}.reg_form.new_reg_form.mycourse_block .nav.nav-tabs.usernavbar.price_align.post a{padding:0 7px}
}
/********************************************************************payment form end******************************************************/

.course_load {
  display: table;
  margin: 0 auto;
  text-align: center;
}

/**********************************Banner***************************/

.tp-leftarrow:hover, .tp-rightarrow:hover { display:none!important; }