/* CSS Document */

.blog-post{   margin-bottom:20px; }
.blog-post .post-item { margin-bottom:10px; border-bottom: solid 1px #eee; }
.blog-post p { margin:0 0 10px;  font-weight:300; }
.blog-post .post-item .title{  padding: 0 ;}
.blog-post .post-item .title h3 a{ font-weight:300; color:#444;}
.blog-post .post-item .blog-info-small{   padding: 5px 20px  20px 0; color:#999; font-size:12px; }
.blog-post .post-item .blog-info-small span{ margin-right:10px; }
.blog-post .post-item .blog-info-small i{   font-size:16px; vertical-align:baseline; } 
.blog-post .post-item .summary{   padding:0 0 20px; text-align:justify;}
.blog-post .post-item .line{ border-top:solid 1px #ddd;}
.blog-post .post-item .action{ padding:20px;   border-radius:0 0 4px 4px;  border-top:solid 1px #ddd;}
.blog-post .post-item .action a{ color:#717171; }
ul.categories { margin:5px 0 20px ;}
ul.categories li{ border-bottom:solid 1px #eee;}
ul.categories li a{ display:block; padding:10px 0; font-size:13px; color:#333; font-weight:400; }
.line { border-bottom:solid 1px #ddd;}
/* RECENT POST */
ul.recent-post { margin:0 0 20px; list-style:none; padding:0;}
ul.recent-post li{ border-bottom:solid 1px #ddd;}
ul.recent-post li a{ display:block; padding:10px 0; font-size:13px; }
ul.recent-post li a span{ color:#717171; font-size:11px; }
.comment-list .info { font-weight:600;}
.comment-list .body blockquote{ font-size:13px;}
.comment-list .action { padding-bottom:10px;} 
.comment-list .comm { border-bottom:dotted 1px #ddd; margin-bottom:15px; font-weight:300;}
/* Widget block */
.block-widget {  margin-bottom:25px;}
.red{color:#CC0000;}
