/*NEW Custom CSS FOR SITE*/

.container {
  max-width: 100%;
}
body {
  background: url("../img/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.provider-panel {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  margin: 0;
}
.provider-panel .panel-body {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  font-size: 16px;
  padding: 10px 15px;
  color: #fff;
}
.provider-panel .panel-footer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px solid #3F3F42;
  padding: 10px;
   cursor: pointer;
    display: block;
}
.provider-panel {
  width: 100%;
}
.panel-footer {
  text-align: left;
}
.sidebar {
  background: url("../img/sidebar_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0;
  background-color: #FFFFFF;
  max-width: 280px;
}
.navbar {
  box-shadow: 0 0 5px #000000;
}
.navbar-default {
/*  background-color: #3498DB;*/
  margin-bottom:0;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #FFFFFF;
}
thead {
  background-color: #FFFFFF;
}
.sidebar .page-header {
  border: medium none;
  margin: 0;
  padding: 0;
}
.sidebar .page-header h1 {
	 color: #FFFFFF;
    font-size: 23px;
    font-weight: lighter;
}
/**********************Navigayion Menu*******************************/
.header_top {
  background: none repeat scroll 0 0 #1A1A1A;
  box-shadow: 0 3px 5px #000000;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.header_wrapper {
  height: 59px;
}
.nav li i {
  color: #FFFFFF;
  float: left;
  left: -5px;
  top: 21px;
}
.nav li:hover i {
  color: #18BC9C;
}
.nav > li {
  float: left;
}
.nav_menu {
  float: right;
}
.navbar-header {
  float: left;
}
/**********************Horizontal Menu*******************************/

.horz_menu .hozlinks a.img_con img,.horz_menu .hozlinks a.img_con i {
  background: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #CFCFCF;
  margin: 0 10px;
  padding: 7px;
}
.hozlinks li {
  float: left;
  list-style: none outside none;
}
.menu_name {
 clear: both;
    color: #383B3D;
    display: block;
    font-family: 'Signika','sans-serif';
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
}
.img_con i {
  color: #868686;
  font-size: 33px;
}
.hozlinks {
  float: right;
  margin-top: 20px;
}
.navbar-collapse {
  max-height: none;
}
.btn {
  padding: 5px;
}
/*****************************side bar align********************/
.panel.panel-default.provider-panel:hover {
    background: none repeat  0 0 #171718;
    box-shadow: 6px 6px 6px #050505 inset;
}
.pannel_paddingnone {
    padding: 0;
}
.panel.panel-default.provider-panel {
    border-bottom: 1px solid #212123;
}

.site_other {
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 15px;
}
.panel-footer > a:hover {
    text-decoration: none;
}
.img_con:hover {
    text-decoration: none;
}

a.setting_background img{
    background: linear-gradient(to bottom, #FFD700 0%, #FFD700 13%, #FFD700 30%, #FFD700 47%, #F5A322 100%) repeat 0 0;
    border: 1px solid #CFCFCF;
    margin: 0 10px;
    padding: 7px 10px;
}
a.image_padding img{
 padding: 7px 10px !important;
}
.title_heading {
    color: #595959;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.horz_menu.clearfix {
    margin-top: 12px;
}
.add_newban.clearfix {
    margin-bottom: 14px;
}
.padding_width {
    padding: 4px 5px 7px;
}
td {
   color: #4E4E4E;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    vertical-align: middle !important;

}

.setting_background:hover {
    text-decoration: none;
}
.title_inner_bg {
    background: url("../img/title_bg.png") repeat  0 0 ;
    padding: 12px 2%;
}
.double_line {
    background: url("../img/double_line.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 8px;
}
.title_heading {
    margin: 0;
}
.title_bg{
 margin: 0 -1% 20px;
 }
table > thead > tr > th {
    color: #4E4E4E;
    font-size: 16px;
    text-transform: capitalize;
}
.footer_link > a {
    color: #4E4E4E;
    font-family: arial;
}
.form-group > label {
    font-family: arial;
    font-weight: 600;
    text-transform: capitalize;
}
.col-md-2.sidebar {
    height: 739px;
}
.sider_bartext{color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }
  .sider_bartext:hover{color: #FFFFFF;
    text-decoration: none;
  }
/*****************************end side bar align********************/

/**********************Media Query*******************************/
@media(max-width:1170px) {
  }
@media (min-width: 768px) and (max-width: 979px) {
  }
@media(max-width:990px){
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse{
	display:none !important;
}
.navbar-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  max-height: 340px;
  overflow-x: visible;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
.col-md-3.sidebar {
  max-width: none;
}
}
@media(max-width:960px) {
  .banner_widthimg{
    width: 100%;
  }
}
@media(max-width:767px) {
  .banner_widthimg{
    width: 100%;
  }
}
@media(max-width:480px) {
  .banner_widthimg{
    width: 100%;
  }

}