/*NEW Custom CSS FOR SITE*/

.container {
  max-width: 100%;
}
/*body {
  background: url("../img/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/
.provider-panel {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  margin: 0;
}
.provider-panel .panel-body {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  font-size: 16px;
  padding: 10px 15px;
  color: #fff;
}
.provider-panel .panel-footer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px solid #3F3F42;
  padding: 10px 15px;
   cursor: pointer;
    display: block;
}
.provider-panel {
  width: 100%;
}
.panel-footer {
  text-align: left;
}
.sidebar {
 background: url("../img/sidebar_bg.png") repeat;
 height: 2000px;
  padding: 0;
  background-color: #FFFFFF;
  max-width: 218px;
  /*  position: fixed; */
}
/* body
 {
 background: url("../img/sidebar_bg.png") repeat scroll 0 0;
 }*/
 

/* 
#selleftcontainer {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  
    min-height: 780px;
    position: relative;
} */

.navbar {
  box-shadow: 0 0 5px #000000;
}
.navbar-default {
/*  background-color: #3498DB;*/
  margin-bottom:0;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #FFFFFF;
}
thead {
  background-color: #FFFFFF;
}
.sidebar .page-header {
  border: medium none;
  margin: 0;
  padding: 0;
}
.sidebar .page-header h1 {
	 color: #FFFFFF;
    font-size: 23px;
    font-weight: lighter;
}
/**********************Navigayion Menu*******************************/
.header_top {
  background: none repeat scroll 0 0 #1A1A1A;
  box-shadow: 0 3px 5px #000000;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.header_wrapper {
  height: 59px;
}
.nav li i {
  color: #FFFFFF;
  float: left;
  left: -5px;
  top: 21px;
}
.nav li:hover i {
  color: #18BC9C;
}
.nav > li {
  float: left;
}
.nav_menu {
  float: right;
}
.navbar-header {
  float: left;
}
/**********************Horizontal Menu*******************************/

.horz_menu .hozlinks a.img_con img,.horz_menu .hozlinks a.img_con i {
  background: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #CFCFCF;
  margin: 0 10px;
  padding: 7px;
}
.hozlinks li {
  float: left;
  list-style: none outside none;
}
.menu_name {
 clear: both;
    color: #383B3D;
    display: block;
    font-family: 'Signika','sans-serif';
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
}
.img_con i {
  color: #868686;
  font-size: 33px;
}
.hozlinks {
  float: right;
  margin-top: 20px;
}
.navbar-collapse {
  max-height: none;
}
.btn {
  padding: 5px;
   margin: 10px 0;
}
/*****************************side bar align********************/
.panel.panel-default.provider-panel:hover {
    background: none repeat  0 0 #171718;
    box-shadow: 6px 6px 6px #050505 inset;
}
.pannel_paddingnone {
    padding: 0;
}
.panel.panel-default.provider-panel {
    border-bottom: 1px solid #212123;
}

.site_other {
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 15px;
}
.panel-footer > a:hover {
    text-decoration: none;
}
.img_con:hover {
    text-decoration: none;
}

a.setting_background img{
    background: linear-gradient(to bottom, #FFD700 0%, #FFD700 13%, #FFD700 30%, #FFD700 47%, #F5A322 100%) repeat 0 0;
    border: 1px solid #CFCFCF;
    margin: 0 10px;
    padding: 7px 10px;
}
a.image_padding img{
 padding: 7px 10px !important;
}
.title_heading {
    color: #595959;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.horz_menu.clearfix {
    margin-top: 12px;
}
.add_newban.clearfix {
    margin-bottom: 14px;
}
.padding_width {
    padding: 4px 5px 7px;
}
td {
   color: #4E4E4E;
    font-family: arial;
    font-size: 14px;
    text-transform: capitalize;
    vertical-align: middle !important;

}

.setting_background:hover {
    text-decoration: none;
}
.title_inner_bg {
    background: url("../img/title_bg.png") repeat  0 0 ;
    padding: 12px 2%;
}
.double_line {
    background: url("../img/double_line.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 8px;
}
.title_heading {
    margin: 0;
}
.title_bg{
 margin: 0 -1% 20px;
 }
table > thead > tr > th {
    color: #4E4E4E;
    font-size: 12px;
	font-weight: bold;
    text-transform: capitalize;
}
.footer_link > a {
    color: #4E4E4E;
    font-family: arial;
}
.form-group > label {
  color: #777777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    text-transform: capitalize;
}
.col-md-2.sidebar {
    height: 739px;
}
.sider_bartext{color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }
  .sider_bartext:hover{color: #FFFFFF;
    text-decoration: none;
  }
  .sidebar_padding {
    padding: 0;
}
/*.form-control {
     background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #C2C2C2 !important;
    border-radius: 0;
    box-shadow: 2px 2px 5px #D2D2D2 inset !important;
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 33px;
    padding: 1px 6px 2px;
    width: 50%;
} */
.form-group {
    clear: both;
    margin-bottom: 10px;
}
.white_bg {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
}
.common_padd {
    padding: 20px;
}
.table-responsive > table > thead {
    background: linear-gradient(to bottom, #FAFAFA 0%, #FAFAFA 2%, #FAFAFA 3%, #FAFAFA 64%, #EFEFEF 97%, #EFEFEF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
 border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    border-top: 1px solid #D7D7D7 !important;
}
.clsboxes {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #D7D7D7 #D7D7D7;
    border-image: none;
    border-radius: 2px;
    border: 1px solid #D7D7D7;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0 0 10px;
    padding: 0;
    width: auto;
}
.clear {
    clear: both;
}
.table {
    margin: 0;border-collapse: separate;
}
.glyphicon.icon_pannding {
    color: #666666;
    padding-right: 10px;
    top: 0;
}
.nav.navbar-nav.navbar-right a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.nav.navbar-nav.navbar-right a {
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
/*****************************end side bar align********************/

/**********************Media Query*******************************/
@media(max-width:1170px) {
  .sidebar {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    height: auto;
    max-width: 265px;
    padding: 0;
    position: static;
}
.sidebar .page-header h1 {
    font-size: 18px;
}
.table-responsive {
    border: 1px solid #ECF0F1;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
  }
@media (min-width: 768px) and (max-width: 979px) {
  .col-md-2.sidebar {
    height: auto;
}
.table-responsive {
    border: 1px solid #ECF0F1;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
  }
@media(max-width:990px){
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse{
	display:none !important;
}
.navbar-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  max-height: 340px;
  overflow-x: visible;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
.col-md-3.sidebar {
  max-width: none;
}
.sidebar {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    height: auto;
    max-width: none;
    padding: 0;
    position: static;
}
.form-group {
    clear: both;
    margin-bottom: 10px;
    width: auto;
}
.table-responsive {
    border: 1px solid #ECF0F1;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
}
@media(max-width:960px) {
  .banner_widthimg{
    width: 100%;
  }
  .col-md-2.sidebar {
    height: auto;
}
.sidebar {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    height: auto;
    max-width: none;
    padding: 0;
    position: static;
}
.form-group {
    clear: both;
    margin-bottom: 10px;
    width: auto;
}
.menu_responsive {
    position: relative;
}


.icon-bar {
    background-color: #000000;
}
.mobile_rsponsivemenu {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    
}
.sidebar {
    margin: 0 auto;
    width: auto;
}
.navbar-toggle {
    background-color: #E6E6E6;
}
.mobile_button.clearfix {
    display: table;
    margin: 0 auto;
    width: auto;
    z-index: 1000;
}
}
@media(max-width:767px) {
.horz_menu.clearfix	.hozlinks.clearfix {
  max-width: 250px;
  min-width: 250px;
  padding: 0;
}
  .banner_widthimg{
    width: 100%;
  }
  .col-md-2.sidebar {
    height: auto;
}
.sidebar {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    height: auto;
    max-width: none;
    padding: 0;
    position: static;
}
.form-group {
    clear: both;
    margin-bottom: 10px;
    width: auto;
}
.navbar-header, .nav_menu  {
    display: table;
    float: none;
    margin: 0 auto !important;
    width: auto;
}
.mobile_button.clearfix {
    display: table;
    margin: 0 auto;
    width: auto;
    z-index: 1000;
}
.menu_responsive {
    position: relative;
}


.icon-bar {
    background-color: #000000;
}
.mobile_rsponsivemenu {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    margin-top: 54px;
    
}
.sidebar {
    margin: 0 auto;
    width: auto;
}
.navbar-toggle {
    background-color: #E6E6E6;
}
.nav li i {
 top: 13px;
}
}
@media(max-width:480px) {
  .banner_widthimg{
    width: 100%;
  }
.col-md-2.sidebar {
    height: auto;
}
.sidebar {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    height: auto;
    max-width: none;
    padding: 0;
    position: static;
}
.form-group {
    clear: both;
    margin-bottom: 10px;
    width: auto;
}
.navbar-header, .nav_menu  {
    display: table;
    float: none;
    margin: 0 auto !important;
    width: auto;
}
.mobile_button.clearfix {
    display: table;
    margin: 0 auto;
    width: auto;
    z-index: 1000;
}
.menu_responsive {
    position: relative;
}


.icon-bar {
    background-color: #000000;
}
.mobile_rsponsivemenu {
    background: url("../img/sidebar_bg.png") repeat scroll 0 0 #FFFFFF;
    margin-top: 54px;
    
}
.sidebar {
    margin: 0 auto;
    width: auto;
}
.navbar-toggle {
    background-color: #E6E6E6;
}
.nav li i {
    color: #FFFFFF;
    float: left;
    left: -5px;
    top: 13px;
}
}



/*added*/

.nav-tabs > li > a {margin-right:0px;outline: medium none;cursor:pointer;}

.form-control {padding:8px 15px; height: 35px;}



.sortable_ul.ui-sortable {margin-top: 20px;padding: 0;}

.ui-state-default.curriculum_ul_li.sub_li_curriculum {/* margin: 10px 0px!important; *//* padding: 25px 15px; */color:#ffffff;background:#777777;padding: 10px 15px;margin:5px 0px;}

 .usernavbar li {background:#1a1a1a;}
 
 .align_right i{display:block;top:2px!important;}
 
 .align_tob li i{top:4px;}
 
 .sidemenu > li.active > a, .sidemenu > li.active > a:hover, .sidemenu > li.active > a:focus {outline:none;cursor:pointer;background: none!important;}

 .add_button{/* width:45%;margin:10px 15px 20px; */ /* margin: 10px 2px 20px 8px; *//* margin:10px 0px 20px; */
float: left;
    margin: 0 0 20px;
    width: 43%;
	}
 
 .sidemenu.nav.nav-tabs.usernavbar.col-md-4 li a:hover {/*background: none repeat scroll 0 0 #FFFFFF;*/}
 
 .btn-success {/* removed background:none; *//*   background-color: #5CB85C; */
/* removed border-color: #4CAE4C; */color: #FFFFFF;}

.ImageForm > div {/* removed float: right; */}

.Close_Div {background:#333;color:#ffffff;  height: 30px;/*width: 30px;*/ bottom: -12px; padding:0px;
color: #FFFFFF;position: absolute;right: -10px;} 

.add_contents {position: relative;margin:10px 0px;}

.AddLectureContentDiv { margin: 10px 0;}

.ImageForm {margin: 10px 0;}
.quiz_button{float: right;width: 50%;margin:0px;}

.ui-state-default.curriculum_ul_li.main_li_curriculum {background: none repeat scroll 0 0 #1a1a1a;
color: #FFFFFF; padding: 12px 12px;}

.ui-state-default.curriculum_ul_li.sub_li_curriculum {margin-left: 20px !important;}


.glyphicon-align-justify:before,.glyphicon-plus:before,.glyphicon-edit:before  {color:#ffffff;}

.course_goal_ul.sortable_ul.ui-sortable > li,.int_audience_ul.sortable_ul.ui-sortable > li,.course_req_ul.sortable_ul.ui-sortable > li  {min-height: 35px; background: none repeat scroll 0 0 #777777;
    color: #FFFFFF;}

.col-md-12 h2 ,.form-group h2,#image h2,#video h2,#privacy h2,.col-md-5 h2,#basics h2,.col-md-8 h2{font-size: 22px;
font-weight: 700;text-align: center;color:#333;}

#basics > h3,.col-md-12 > h3,.form-group > h3,#image > h3,#video h3,#privacy h3,.col-md-5 h3,#basics h3,.col-md-8 h3 {color: #555555;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px;
    text-align: center;}

.form-group > label,#video > label,#privacy > label,.col-md-5 > label,.col-md-12 > label,#basics > label,.col-md-8 > label{display: inline;text-align: center;
text-transform: capitalize;}

#image > label {display: inline;text-align: center;}


.col-md-12{margin:10px 0px;}

.col-md-12 > label {display: inline;text-align: center;}
.price-holder {
    background-color: #F7F9FB;
    border: 1px solid #D5D9DC;
    display: inline-block;
    display:table;
	margin: 12px auto;
    padding: 15px;
}

.price-label {
    display: block;
    float: left;
    /*width: 85px;*/
    margin: 7px 5px 0 0;
}

.price {
    color: #6F8C38;
    display: block;
    float: left;
    font-size: 48px;
    font-weight: 700;
    margin-left: 15px;
}

.ui-tabs > ul > li > .arrow:before {
    background: none repeat scroll 0 0 #37373E;
    border: 1px solid #000000;
    content: "";
    height: 100%;
    left: -80%;
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
}

.media-preview-wrapper{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A9A9A9;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.63), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    padding: 18px;
	
}

.media-preview{
    background: none repeat scroll 0 0 #EEF4FD;
    padding: 2px;
}

.media-preview-wrapper .media {
    background-size: cover;
    border: 1px dotted #C2CBD7;
   /*  height: 270px; */
    overflow: hidden;
    text-align: center;
}

.media-preview-wrapper {
    height: 100%;
   /* width: 85%;*/
    margin: 15px auto;
}

.croppedImg {
    width: 85%;
}

.tip {
    color: #444444;
    margin-top: 10px;font-size:12px;text-align:justify;
}

.tip b{font-weight:700;color:#333333;}
.tip a{text-decoration:none;color: #428BCA;}

.privacy_tabs li.active a{color: #333 !important;background:#eee!important;border: 0 none !important;}

#cropContaineroutput {margin:0 auto;}



.tab-pane.fade.active.in {
    border: 2px solid #eeeeee;
	background: none repeat scroll 0 0 #eeeeee;
    margin: 0px 0;
    padding: 10px 15px;
}

.privacy_tabs.nav.nav-tabs {
    border: medium none;
}

.all_buttons{margin-bottom:10px;}

.nav-tabs > li > a {border-radius:0px;}


.privacy_tabs li.active:after {
    /*border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid #1a1a1a;*/
    content: "";
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 108%;
    z-index: 1000;
}

.privacy_pub {
    float: left;
}

#public > div {
    
    padding: 0 20px;
}

.tab_ul{list-style:none;padding:0px;} .tab_ul li{/* margin-bottom: 30px; */}.price_text{margin: 0 auto;
    max-width: 230px;} .password_text{max-width: 250px;float:right;} 

.tab_ul > li:first-child {
    border-bottom: 1px solid #141414;
    padding-bottom: 20px;
}

.tab_ul > li:nth-child(2) {
    margin: 5px 0 18px;}

.button_color{background: none repeat scroll 0 0 #4985b8;color: #FFFFFF;padding: 10px 14px;margin:0px;float: left;}


/*5.5.2014*/


 .form-control.tm-input {float: left;margin-right: 10px;max-width:100%;}
 
 .form-control.lectureDescription {
    margin: 10px 0;}

 #imageloadbutton > input {
    margin-right: 10px;}
	
.file_div {
    margin: 6px 0;
   /* background:#cccccc;  */
}	

/*6.5.2014*/
.form-control.answer_text {/*float: right; max-width: 540px;margin:*/ 5px 0;/*max-height: 12px;*/}

.quiz_form > p {/* min-height:100px; */min-height:50px;}

.quiz_form > h4 {border-bottom: 1px solid #FFFFFF;padding: 0 0 10px;}

.quiz_form > label {margin: 10px 0;}

#myTab a {border: medium none;}

.pull-right.glyphicon.glyphicon-trash.DeleteContent {
    color: #000000;/*  margin: 6px 8px; */margin: 10px;
}

.pull-right.glyphicon.glyphicon-trash.DeleteTitle {
    color: #FFFFFF;
}

.pull-right.glyphicon.glyphicon-trash.delete_quiz {
    color: #FFFFFF;margin: 16px 10px;
}

.file_div > p {
    margin: 5px 0;
    padding: 10px;
}

/*added 31/5/2014*/
/* 
#hero-graph {background: none repeat scroll 0 0 #FFFFFF;} */

.col-md-12.chart > div {background: none repeat scroll 0 0 #FFFFFF;}


.header{/*width:1%;*/}

/* .btn:hover {color: #1A1A1A;} */

 .align_space{margin:45px auto;}
 
 
 .opt_text{margin:4px 0px;}
 
 
.remove_mrg > input {
    margin: 0;
}

.align_center h2 {
    text-align: center;
}

.align_content {
    line-height: 35px;
    margin: 0 auto;
    padding: 0 22px;text-transform: capitalize;
}

.align_content > p {line-height: 20px;margin: 15px 0 0;}

.new_align h2 {padding: 24px 0 10px;text-align: left;}

.text_trn{text-transform:uppercase;}


.col-md-10.right_sideblocks
{
	/*background: url("../img/bg.jpg") repeat scroll 0 0;*/
}
.sidemenu.nav.nav-tabs.usernavbar.col-md-4 .active.clearfix
{
	background: #fff;
	border: none !important;
		
}
.sidemenu.nav.nav-tabs.usernavbar.col-md-4 .active.clearfix i
{
	color: #000;
		
}

#add_quiz .btn
{
background: #95a5a6;
color: #fff;
border-radius:5px;

}
#add_quiz .btn:hover
{
	background: #7f9293;	
	text-decoration: none;
}
#add_lecture .btn
{
	background: #95a5a6;
color: #fff;
border-radius: 0px;

}
#add_lecture .btn:hover
{
	background: #7f9293;	
	text-decoration: none;

}
.tab-content.col-md-8.pull-right .btn.btn-lg.btn-block.add_secblocks {
  float: right;
  margin: 0;
  padding: 5px 113px;
  font-size: 15px;
  width: auto;
  background: #2c3e50;
  color: #fff;
}
#add_section .btn
{
  color: #fff;
  background: #95a5a6;
}
.btn.btn-link
{
  border-radius:5px;
}
#add_section .btn:hover
{
  text-decoration: none;
  background: #7f9293;
}
.pull-right.glyphicon.glyphicon-trash.DeleteContent
{
  color: #fff;
}
.marginb10.clearfix.newsletter_blocks a {
  margin: 0 10px 25px 0;
}
.tm-tag.tm-tag-success
{
	margin: 0 0 5px 7px;	
}
.LectureEditText.form-control {
  height: 32px !important;
  margin: 15px 0 5px;
}
.LectureEditButton.btn
{
	color: #fff;
	background: #95a5a6;	
}
.LectureEditButton.btn:hover
{
	background: #7f9293;
}	
.nav.navbar-nav.navbar-right a:hover {
  color: #18bc9c;
}
.col-md-12.pull-right.bg_footers
{
  margin:0px;
  background: url("../img/sidebar_bg.png") repeat scroll 0 0;
}
.footer_bottompart {
  padding: 10px 0 0;
}
.footer_mesnu p {
  text-align: center;
}
.footer_bottompart a {
  color: #fff;
  font-family: arial;
  text-shadow: none !important;
}
.footer_bottompart a:hover
{
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 979px) {
.col-md-12.pull-right.bg_footers {
  float: none !important;
  padding: 5px 10px;
}
}

.GetStartedTitle {
  background: none repeat scroll 0 0 #e6e7e8;
  border: 1px solid #d9d9d9;
  color: #526075;
  cursor: pointer;
  font-family: "Open Sans",sans-serif;
  font-size: 28px;
  margin: 5px 0;
  font-weight: 300;
  padding: 15px;
}
.slider_divsblocks .arr {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #8392a3;
  float: right;
  margin: 11px 0;
}
.status-tabs-content {
  background: none repeat scroll 0 0 #f7f7f7;
  padding: 0 20px 30px;
}
.resp-tab-content h2 {
  color: #333;
  font-family: open sans;
  font-size: 22px;
  font-weight: 600;
  padding: 13px;
  text-align: center;
}
.slider_divsblocks {
  margin: 0 0 25px;
  padding: 0 20px;
}
.resp-tab-content.resp-tab-content-active .course_textbox
{
	font-size: 14px;
	color: #a9a9a9;
	border-radius: 5px;
}
.resp-tab-content.resp-tab-content-active .course_textbox
{
	float:left;
	
}
.resp-tab-content.resp-tab-content-active .textBoxLimit.newtextBoxLimit
{
	padding: 13px 8px 7px;
	
}
.course_title {
  color: #333333;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 15px;
  max-width: 200px;
}
.resp-tab-content.resp-tab-content-active .course_newsubtextbox
{
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
	color: #a9a9a9;
}
.category_option.clsClearfix
{
	width: 340px;
}
.category_option.clsClearfix .category_option
{
	width: 340px;
	font-size: 12px;
	border: 1px solid #e4e4e4;
	border-radius:5px;
	padding: 5px;
}
.category_rightoption.clsClearfix 
{
width: 340px;
}
.category_rightoption.clsClearfix  .category_option
{
width: 340px;
border-radius:5px;
border: 1px solid #e4e4e4;
padding: 5px;
font-size: 12px;
}
.resp-tab-item
{
	width: 100% !important;
}
.ui-state-default.curriculum_ul_li.ul_main.main_li_curriculum {
  background: none repeat scroll 0 0 #777777;
  color: #ffffff;
  margin: 5px 0;
  padding: 10px 15px;
}
.ui-state-default.curriculum_ul_li.sub_li_curriculum {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 1px solid #f0f0f0;
  color: #ffffff;
  min-height: 70px;
}
.space_btw {
  padding: 0 !important;
}
.tab-pane.fade.active.in .tab_ul {
  margin: 0;
}
.privacy_tabs.nav.nav-tabs.tab_public .selected {
  color: #333;
}
.resp-tab-content.resp-tab-content-active .cur_h2 {
  display: block;
}
.fa.fa-plus {
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px !important;
  margin: 0 7px 0 15px;
  padding: 1px;
}
.ImageForm > p {
  font-weight: normal;
}
.sortable_ul.sortable_new.ui-sortable .ImageForm > p {
  padding: 10px 0 5px 15px;
}
.sortable_ul.sortable_new.ui-sortable .btn.Close_Div {
  background: none repeat scroll 0 0 #4985b8;
  border: medium none !important;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin: 8px 0 15px;
  padding: 4px 12px;
  text-shadow: none;
  width: auto;
}
.ImageForm #fileName {
  margin-top: 10px !important;
   border-radius: 5px;
    height: 27px;
}
#my_video_lecture {
  float: left;
}
.course_tab.clsClearfix .sortable_ul.sortable_new.ui-sortable .form-control.lectureDescription {
  width: 270px;
  padding: 0px;
  float: right;
}
.form-control.lectureDescription {
  margin: 25px 33px 0;
}
.file_div.clearfix {
  background: none repeat scroll 0 0 #98938d;
  margin: 0 0 10px;
}
.video-js {
  -moz-user-select: none;
  font-family: Arial,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  position: relative;
  vertical-align: middle;
}
.AddLectureContentDiv .vjs-default-skin .vjs-big-play-button {
  cursor: pointer;
  font-size: 3em;
  text-align: center;
}
.btn_bg {
  background: none repeat scroll 0 0 #4985b8;
  border: medium none;
  font-size: 15px;
  padding: 10px;
}
.btn_addbg {
  background: none repeat scroll 0 0 #4c4c4c;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 15px;
  padding: 10px;
   width: 44%;
   margin: 4px 0;
  text-align: center;
  text-shadow: none;
}
.btn_align {
  margin: 4px 25px 13px 64px;
}
.btn.btn-lg.btn-block.add_newsection.btn_addbg:hover {
  background: none repeat scroll 0 0 black;
  color: #fff;
}
.AddLectureContentDiv .ImageForm {
  clear: both;
}
.sortable_ul.sortable_new.ui-sortable .btn.Close_Div {
  background: none repeat scroll 0 0 #4985b8;
  border: medium none !important;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin: 8px 0 15px;
  text-shadow: none;
  width: auto;
  position: static;
}
.file_div {
  clear: both;
  padding: 10px 20px;
}
.add_sections {
  float: left;
  font-size: 15px;
  margin: 6px 0;
  width: 8%;
}
 
#add_section .form-control.input_textboxes {
  float: left;
}
.form-control.input_textboxes
{
	width: 206px !important;	
	height: 32px;
}
.add_lecture_btns {
  background: none repeat scroll 0 0 #4985b8 !important;
  border: medium none;
  box-shadow: none;
  margin: 0 0px 0 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0px;
 /* padding-bottom: 6px;
  padding-top: 6px;*/
}

.addsectiondivs {
  padding: 17px 16px;
}
#add_section .btn.btn-link.lecture_cancel {
  margin: 0;
}
.lecture_cancel {
  background: none repeat scroll 0 0 #4985b8 !important;
  border-radius:0px !important;
  border: medium none;
  box-shadow: none;
  color: #fff;
  margin: 1px 0;
  padding: 5px 10px;
  /*padding-bottom: 6px;
  padding-top: 6px;*/
}
.SectionEditText.form-control {
  float: left;
  height: 29px;
  padding: 6px ;
  width: 206px;
}
.sortable_ul.sortable_new.ui-sortable .SectionEditButton.btn {
  background: none repeat scroll 0 0 #4985b8;
  border: medium none;
  box-shadow: none;
  color: #fff;
  padding-bottom: 6px;
  padding-top: 6px;
  margin: 0px;
}
.sortable_ul.sortable_new.ui-sortable .SectionEditDiv {
  padding: 15px;
}
.sortable_ul.sortable_new.ui-sortable .ui-state-default.curriculum_ul_li.ul_main.ul_padd.sub_li_curriculum a {
  margin: 0 0 7px;
}

.AddLectureContentDiv .file_div.clearfix audio {
  float: left;
  margin: 47px 10px;
}
.video-js.vjs-default-skin.vjs-paused.vjs-controls-enabled.vjs-user-inactive {
  margin: 0;
}
.video-js.vjs-default-skin.vjs-paused.vjs-controls-enabled.vjs-user-active {
  margin: 0;
}
#my_video_lecture {
  float: left;
}
.AddLectureContentDiv .vjs-default-skin .vjs-big-play-button {
  background-color: rgba(7, 20, 30, 0.7);
  border: 0.1em solid #3b4249;
  border-radius: 65px;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
  cursor: pointer;
  display: block;
  font-size: 3em;
  height: 75px !important;
  left: 103px !important;
  opacity: 1;
  position: absolute;
  right: 0 !important;
  text-align: center;
  top: 57px !important;
  transition: all 0.4s ease 0s;
  vertical-align: middle;
  width: 72px !important;
  z-index: 2;
}
.lectures2blockss {
  margin-bottom: 20px;
  margin-top: 20px;
}
.lecture_texts {
  float: left;
   font-size: 15px;
  width: 8%;
}
.lecture_txtb {
  border-radius: 0;
  float: left;
  height: 32px !important;
  margin: 0 !important;
  width: 206px;
}
.SectionEditButton.btn {
  margin: 0 5px !important;
}
.SectionEditButton.btn:hover {
 background: none repeat scroll 0 0 #4985b8;
}
.sortable_ul.sortable_new.ui-sortable .LectureEditDiv {
  padding: 25px 15px 15px;
}
.LectureEditDiv .LectureEditText.form-control {
  float: left;
  margin: 0;
  padding: 6px !important;
  width: 232px;
}
.LectureEditButton.btn {
background: none repeat scroll 0 0 #4985b8;
  margin: 0 5px;
  border-radius:0px;
  padding: 5px 11px !important;
}
.LectureEditButton.btn:hover {
background: none repeat scroll 0 0 #4985b8;
}
.SectionEditButton.btn {
  padding: 5px 10px 3px !important;
}
.SectionEditButton.btn:hover {
background: none repeat scroll 0 0 #4985b8 !important;
}
.video_align > input {
  border: 1px solid #e4e4e4 !important;
  margin: 10px 0;
  padding: 1px;
  width: 70%;
}
.media-preview-wrapper {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #a9a9a9;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.63), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  padding: 18px;
}
.notes-table .video-js .vjs-tech {
  left: 1px;
}
.privacy_inv {

  margin: 0 5px !important;

  top: 1px;
}